.align {
  display: table;
  height: 100%;
  width: 100%;
}

.align__middle {
  display: table-cell;
  vertical-align: middle;
}

@include text-align(left, xs);
@include text-align(center, xs);
@include text-align(right, xs);

@media (min-width: $screen-sm) {
  @include text-align(left, sm);
  @include text-align(center, sm);
  @include text-align(right, sm);
}

@media (min-width: $screen-md) {
  @include text-align(left, md);
  @include text-align(center, md);
  @include text-align(right, md);
}

@media (min-width: $screen-lg) {
  @include text-align(left, lg);
  @include text-align(center, lg);
  @include text-align(right, lg);
}
