//------------------------------------
//  #ALIGN
//------------------------------------

.align {
  display: table;
  height: 100%;
  width: 100%;
}

.align__middle {
  display: table-cell;
  vertical-align: middle;
}
