/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

$fortitude-container-breakpoints:   (xs: 100%,
                                     sm: 72rem + $fortitude-base-spacing-unit,
                                     md: 94rem + $fortitude-base-spacing-unit,
                                     lg: 114rem + $fortitude-base-spacing-unit) !default;





// Here we set a variable assuming that `box-sizing: border-box;` is not set
// globally. If it has been previously been defined, the following variable will
// be overriden and will be set to `true`.
$fortitude-global-border-box: false !default;

@mixin fortitude-container {
    @include fortitude-clearfix;

    margin-right: auto;
    margin-left: auto;
    @each $alias, $breakpoint in $fortitude-breakpoints {
        $query: fortitude-query($breakpoint);
        // if there is no media query.
        @if not $query {
            width: map-get($fortitude-container-breakpoints, $alias);
        }
        // if there is a media query.
        @else {
            @media #{$query} {
                width: map-get($fortitude-container-breakpoints, $alias);
            }
        }
    }

    @if $fortitude-global-border-box == false {
        box-sizing: border-box; /* [10] */
    }
}

.#{$fortitude-namespace}container {
    @include fortitude-container;
}
