.#{$namespace}flashbar,
%#{$namespace}flashbar {
  border: $flashbar-border-width solid;
  line-height: $base-line-height;
  margin: component-margin($flashbar-height, $flashbar-spacing-units-height) 0 double(component-margin($flashbar-height, $flashbar-spacing-units-height));
  min-height: $flashbar-height;
  padding: component-padding($flashbar-height - double($flashbar-border-width)) 0;
  position: relative;
}

.#{$namespace}flashbar__close,
%#{$namespace}flashbar__close {
  font-size: $heading-size-3;
  line-height: 1;
  margin-right: halve($heading-size-3) * 1;
  margin-top: halve($heading-size-3) * -1;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 50%;
}

.#{$namespace}flashbar--hibar,
%#{$namespace}flashbar--hibar {
  margin: component-margin($flashbar-hibar-height, $flashbar-hibar-spacing-units-height) 0 double(component-margin($flashbar-hibar-height, $flashbar-hibar-spacing-units-height));
  min-height: $flashbar-hibar-height;
  padding: component-padding($flashbar-hibar-height - double($flashbar-border-width)) double(component-padding($flashbar-hibar-height - double($flashbar-border-width)));
  text-align: center;
}
