.flex-media {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-media--widescreen { padding-bottom: 57.25%; }
.flex-media--vimeo { padding-top: 0; }

.flex-media iframe,
.flex-media object,
.flex-media embed,
.flex-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-media { padding-top: 0; }
}
