.#{$fortitude-namespace}checkbox-input {
  @include fortitude-checkbox-input;
}

.#{$fortitude-namespace}radio-input {
  @include fortitude-radio-input;
}

.#{$fortitude-namespace}text-input {
  @include fortitude-text-input;
}

.#{$fortitude-namespace}textarea-input {
  @include fortitude-textarea-input;
}

.#{$fortitude-namespace}select-input {
  @include fortitude-select-input;
}

.#{$fortitude-namespace}range-input {
  @include fortitude-range-input;
}

.#{$fortitude-namespace}color-input {
  @include fortitude-color-input;
}

.#{$fortitude-namespace}input__target {
    @include fortitude-input__target;
}

.#{$fortitude-namespace}input--full {
  @include fortitude-input--full;
}

.#{$fortitude-namespace}input--pill {
  @include fortitude-input--pill;
}
