//------------------------------------
//  #LABEL
//------------------------------------

.label {
  display: inline-block;
  position: relative;
}

.label--block {
  display: inline-block;
  width: 100%;
}

.label--reverse {
  text-align: right;
}

// I don't really like this name.

.label--file {
  font-weight: 500;
  text-transform: uppercase;
}
