.#{$fortitude-namespace}layout {
  @include fortitude-layout;
}

.#{$fortitude-namespace}layout__item {
  @include fortitude-layout__item;
}

@if $fortitude-enable-layout--small == true {
  /**
   * Layouts with small gutters.
  **/
  .#{$fortitude-namespace}layout--small {
    @include fortitude-layout--small;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--small;
    }
  }
}

@if $fortitude-enable-layout--large == true {
  /**
   * Layouts with large gutters.
  **/
  .#{$fortitude-namespace}layout--large {
    @include fortitude-layout--large;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--large;
    }
  }
}

@if $fortitude-enable-layout--flush == true {
  /**
   * Layouts with no gutters.
  **/
  .#{$fortitude-namespace}layout--flush {
    @include fortitude-layout--flush;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--flush;
    }
  }
}

@if $fortitude-enable-layout--rev == true {
  /**
   * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
   * markup will display in order 4, 3, 2, 1 on your page.
  **/
  .#{$fortitude-namespace}layout--rev {
    @include fortitude-layout--rev;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--rev;
    }
  }
}

@if $fortitude-enable-layout--middle == true {
  /**
   * Align layout items to the vertical centers of each other.
  **/
  .#{$fortitude-namespace}layout--middle {
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--middle;
    }
  }
}

@if $fortitude-enable-layout--bottom == true {
  /**
   * Align layout items to the vertical bottoms of each other.
  **/
  .#{$fortitude-namespace}layout--bottom {
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--bottom;
    }
  }
}

@if $fortitude-enable-layout--right == true {
  /**
   * Make the layout items fill up from the right hand side.
  **/
  .#{$fortitude-namespace}layout--right {
    @include fortitude-layout--right;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--right;
    }
  }
}

@if $fortitude-enable-layout--center == true {
  /**
   * Make the layout items fill up from the center outward.
  **/
  .#{$fortitude-namespace}layout--center {
    @include fortitude-layout--center;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--center;
    }
  }
}
