$fortitude-enable-list-navigation: true;

.#{$fortitude-namespace}list-navigation {
  @include fortitude-list-navigation;
}

.#{$fortitude-namespace}list-navigation__item {
  @include fortitude-list-navigation__item;
}

.#{$fortitude-namespace}list-navigation__link {
  @include fortitude-list-navigation__link;
}
