//------------------------------------
//  #LIST
//------------------------------------

$list-artifact-width: 0.6rem;

.list--inline {
  display: inline-block;
  margin: 0 (-(halve($base-spacing-unit)));
  overflow: hidden;
  vertical-align: middle;

  > li {
    float: left;
    margin: 0 halve($base-spacing-unit) 0 halve($base-spacing-unit) + $list-artifact-width;

    &:first-child {
      margin: 0 halve($base-spacing-unit);
    }
  }

  &.list--bare {
    > li {
      margin: 0 halve($base-spacing-unit);
    }
  }
}

.list--bare {
  list-style: none;
}

.list--artifacts-divide {
  > li {
    direction: rtl;

    &:last-child {
      list-style: none;
    }
  }

}

.list--grouped-switches {
  list-style: none;
  margin: 0;

  .input--checkbox {
    margin-right: quarter($base-spacing-unit);
  }

  > li {
    position: relative;

    > .label {
      font-weight: $medium;
    }

    .label {
      width: 100%;
      white-space: nowrap;
    }

    &::before {
      border: 0;
      border-left-width: 0.1rem;
      border-style: dashed;
      bottom: 0;
      color: #ccc;
      content: "";
      left: halve($input-switch-size);
      position: absolute;
      top: double($base-spacing-unit);
    }

    > ul {
      list-style: none;
      margin-left: $base-spacing-unit;
    }
  }
}

.list--grouped-switches__multiple {
  line-height: double($base-line-height);
  margin-bottom: halve($base-spacing-unit);

  > ul {
    line-height: $base-line-height;
  }

  + .list--grouped-switches__multiple {
    margin-top: (-(halve($base-spacing-unit)));
  }
}
