//------------------------------------
//    #list-navigation
//------------------------------------

// The list-navigation object simply removes any indents and bullet points from lists.
// and sets the list-navigation__link to `display: block;`

@mixin fortitude-list-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}


@mixin fortitude-list-navigation__item {
  display: block;
}


@mixin fortitude-list-navigation__link {
  display: block;
}


.#{$fortitude-namespace}list-navigation {
  @include fortitude-list-navigation;
}


.#{$fortitude-namespace}list-navigation__item {
  @include fortitude-list-navigation__item;
}


.#{$fortitude-namespace}list-navigation__link {
  @include fortitude-list-navigation__link;
}
