$fortitude-enable-navigationbar: true;

.#{$fortitude-namespace}navigationbar {
  position: relative;
  line-height: fortitude-px-to-rem($fortitude-navigationbar-height);
  min-height: $fortitude-navigationbar-height;
}

.#{$fortitude-namespace}navigationbar__header {
  float: left;
}

.#{$fortitude-namespace}navigationbar__header__logo {
  display: inline-block;
  margin-top: -1px;
  vertical-align: middle;
}

.#{$fortitude-namespace}navigationbar__toggle {
  float: right;

  > .#{$fortitude-namespace}icon {
    display: none;
  }
}

.#{$fortitude-namespace}navigationbar__toggle__helper {
  display: none;
}

.#{$fortitude-namespace}navigationbar__navigation {
  margin-right: -10px;

  .#{$fortitude-namespace}fluid-container & {
    margin-right: 0;
  }
}

.#{$fortitude-namespace}navigationbar__item {
  display: inline-block;
  position: relative;

  &:hover .#{$fortitude-namespace}navigationbar__dropdown {
    display: block;
  }

  a {
    display: block;
    padding: 0 10px;
  }
}

.#{$fortitude-namespace}navigationbar__dropdown {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  z-index: 1;
}

@include fortitude-breakpoint(xs, $fortitude-breakpoints) {
  .#{$fortitude-namespace}navigationbar__header {
    float: none;
  }

  .#{$fortitude-namespace}navigationbar__header__logo {
    padding-left: 20px;
  }

  .#{$fortitude-namespace}navigationbar__toggle {
    float: none;

    > .#{$fortitude-namespace}icon {
      display: inline-block;
    }
  }

  .#{$fortitude-namespace}navigationbar__toggle__helper {
    display: inline-block;
  }

  .#{$fortitude-namespace}navigationbar__dropdown {
    @include fortitude-bare-list;

    display: block;
    position: static;
  }

  .#{$fortitude-namespace}navigationbar__item {
    display: block;
  }

  .#{$fortitude-namespace}navigationbar__toggle {
    @include fortitude-clearfix;

    margin-top: -$fortitude-navigationbar-height;

    > .#{$fortitude-namespace}icon {
      float: right;
      display: block;
    }
  }

  .#{$fortitude-namespace}navigationbar__toggle__helper {
    float: right;
    position: relative;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 0;
    }

    + .#{$fortitude-namespace}navigationbar__navigation {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
    }

    &:checked + .#{$fortitude-namespace}navigationbar__navigation {
      display: block;
    }
  }

  .#{$fortitude-namespace}navigationbar__navigation {
    @include fortitude-bare-list;
    clear: both;
    margin-right: 0;
  }

  .#{$fortitude-namespace}navigationbar__item {
    + .#{$fortitude-namespace}navigationbar__item {
      margin-top: -1px;
    }

    a {
      display: block;
      padding: 0 20px;
    }
  }
}
