//------------------------------------
//  #NAVIGATION
//------------------------------------

.navigation {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.navigation__link {
  display: block;
}
