.navigationbar {
  @include clearfix;
  border: $navigationbar-border-width solid;
  margin: component-margin($navigationbar-height, $navigationbar-spacing-units-height) 0;
  min-height: $navigationbar-height;
  padding: 0;
  position: relative;
  width: 100%;
}

.navigationbar--fixed-top {
  position: fixed;
  top: 0;
  z-index: 2;

  + .container {
    margin-top: $navigationbar-height;
    // transition: width $base-transition-speed ease, margin-top $base-transition-speed ease;
  }
}

.navigationbar__header {
  @include clearfix;
  margin: 0 halve($grid-gutter-width) * -1;
}

.navigationbar__header__logo {
  cursor: pointer;
  float: left;
  font-size: $heading-size-2;
  margin: 0 halve($grid-gutter-width);
  padding: component-padding($navigationbar-height - double($navigationbar-border-width)) 0;
  text-decoration: none;
}

.navigationbar__header__toggle {
  cursor: pointer;
  float: right;
}

.navigationbar__collapse {
  margin: 0 halve($grid-gutter-width) * -1;
}

.navigationbar__navigation {
  .navigation__menu {
    list-style: none;
    margin-left: 0;

    .navigation__link {
      padding-left: 1.6rem;
    }
  }

  .navigation__link {
    border-bottom: $navigationbar-navigation-item-border-width solid transparent;
    font-size: $heading-size-5;
    padding: component-padding($navigationbar-spacing-units-height - $navigationbar-navigation-item-border-width) convert-to-rem(halve($grid-gutter-width));
    text-decoration: none;
  }
}

@media (min-width: $screen-sm) {

  .navigationbar__header { float: left; }

  .navigationbar__header__toggle { display: none; }

  .navigationbar__collapse { @include clearfix; }

  .navigationbar__navigation {
    @include clearfix;
    float: left;

    .navigation__menu {
      display: none;
      position: absolute;

      .navigation__item {
        float: none;
      }

      .navigation__link {
        padding: component-padding($navigationbar-spacing-units-height - $navigationbar-navigation-item-border-width) convert-to-rem(halve($grid-gutter-width));
      }
    }

    .navigation__item {
      float: left;
      position: relative;

      &:hover {
        > .navigation__menu {
          display: block;
        }
      }
    }

    .navigation__link {
      border: 0;
      font-size: $heading-size-6;
    }

  }

  .navigationbar__navigation--right {
    float: right;
  }

  .navigationbar__collapse {
    display: block !important;
    height: 100% !important;
  }
}
