.navigationbar {
  position: relative;
  z-index: 2;
  line-height: 4rem;
  .container, .fluid-container {
    transition: width 0.4s ease-in-out;
  }
}

.navigationbar__header {
  float: left;
}

.navigationbar__header__logo {
  line-height: 4rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
}

.navigationbar__toggle {
  float: right;

  > .icon--burger {
    display: none;
  }
}

.navigationbar__toggle__helper {
  display: none;
}

.navigationbar__item {
  display: inline-block;

  &:hover .navigationbar__dropdown {
    display: block;
  }

  a {
    display: block;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    padding: 0 1rem;
    transition: color 0.1s ease-in-out;
  }
}

.navigationbar__dropdown {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 1;
}

@media (max-width: 767px) {
  .navigationbar__header {
    float: none;
  }

  .navigationbar__toggle {
    float: none;

    > .icon--burger {
      display: inline-block;
    }
  }

  .navigationbar__toggle__helper {
    display: inline-block;
  }

  .navigationbar__dropdown {
    display: block;
    position: static;
  }

  .navigationbar__item {
    display: block;
  }

  .navigationbar__toggle {
    margin-top: -4rem;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > .icon--burger {
      float: right;
      display: block;
      margin: 1.2rem 0;
      margin-right: 1rem;
    }
  }

  .navigationbar__toggle__helper {
    float: right;
    position: relative;
    width: 2.2rem;
    height: 4rem;
    margin-right: -2.2rem;
    outline: 0;
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    &:checked + .navigationbar__navigation {
      display: block;
    }
  }

  .navigationbar__navigation {
    clear: both;
    display: none;
  }

  .navigationbar__item {
    + .navigationbar__item {
      margin-top: -0.1rem;
    }

    a {
      display: block;
      font-size: 1.2rem;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      padding: 0 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navigationbar--employers-offers {
    .navigationbar__header {
      float: none;
    }

    .navigationbar__toggle {
      float: none;

      > .icon--burger {
        display: inline-block;
      }
    }

    .navigationbar__toggle__helper {
      display: inline-block;
    }

    .navigationbar__dropdown {
      display: block;
      position: static;
    }

    .navigationbar__item {
      display: block;
    }

    .navigationbar__toggle {
      margin-top: -4rem;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      > .icon--burger {
        float: right;
        display: block;
        margin: 1.2rem 0;
        margin-right: 1rem;
      }
    }
    .navigationbar__toggle__helper {
      float: right;
      position: relative;
      width: 2.2rem;
      height: 4rem;
      margin-right: -2.2rem;
      outline: 0;
      opacity: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;

      &:checked + .navigationbar__navigation {
        display: block;
      }
    }

    .navigationbar__navigation {
      clear: both;
      display: none;
    }

    .navigationbar__item {
      + .navigationbar__item {
        margin-top: -0.1rem;
      }

      a {
        display: block;
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        padding: 0 1rem;
      }
    }
  }
}
