//------------------------------------
//    #SHADE
//------------------------------------

$fortitude-shade-background-color: rgba(0, 0, 0, 0.3) !default;
$fortitude-shade-background-fallback: ie-hex-str($fortitude-shade-background-color) !default;
$fortitude-shade-transition-speed: 0.3s !default;

@mixin fortitude-shade {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @if $fortitude-shade-background-color {
    @if $fortitude-shade-background-fallback {
      background-color: $fortitude-shade-background-fallback;
    }
    background-color: $fortitude-shade-background-color;
  }
}


.#{$fortitude-namespace}shade {
  @include fortitude-shade;
}
