$fortitude-enable-table: true;

.#{$fortitude-namespace}table,
%#{$fortitude-namespace}table {
  width: 100%;
}

@if $fortitude-enable-table--fixed == true {
  /**
   * Force tables into having equal-width columns.
  **/
  .#{$fortitude-namespace}table--fixed,
  %#{$fortitude-namespace}table--fixed {
    table-layout: fixed;
  }
}
