/*------------------------------------*\
    #TABS
\*------------------------------------*/

@mixin fortitude-tabs__target {
    display: none;
}

@mixin fortitude-tabs__target--is-active {
    display: block;
}

.#{$fortitude-namespace}tabs__target {
  @include fortitude-tabs__target;
}

.#{$fortitude-namespace}tabs__target--is-active {
  @include fortitude-tabs__target--is-active;
}