$fortitude-enable-text: true;

.#{$fortitude-namespace}text-italic {
  font-style: italic;
}

.#{$fortitude-namespace}text-underline {
  text-decoration: underline;
}

.#{$fortitude-namespace}text-line-through {
  text-decoration: line-through;
}

.#{$fortitude-namespace}text-lowercase {
  text-transform: lowercase;
}

.#{$fortitude-namespace}text-uppercase {
  text-transform: uppercase;
}

.#{$fortitude-namespace}text-capitalize {
  text-transform: capitalize;
}
