.wings {
  display: table;
  width: 100%;

  &__target {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    width: 0.1rem;
    padding: 0 double($fortitude-base-spacing-unit);
  }

  &__wing {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    &::before {
      content: '';
      vertical-align: middle;
      position: absolute;
      height: 0.5rem;
      top: -0.1rem;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.wings--thin {
  .wings__wing {
    &::before {
      height: 0.1rem;
    }
  }
}

.wings__target--narrow {
  padding: 0 $fortitude-base-spacing-unit;
}

