$fortitude-enable-wings: true;

.#{$fortitude-namespace}wings {
  display: table;
  width: 100%;
}

.#{$fortitude-namespace}wings__target {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 1px;
  padding: 0 fortitude-double($fortitude-base-spacing-unit);
}

.#{$fortitude-namespace}wings__wing {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  &::before {
    content: '';
    vertical-align: middle;
    position: absolute;
    height: 5px;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.#{$fortitude-namespace}wings--thin {
  .#{$fortitude-namespace}wings__wing {
    &::before {
      height: 1px;
    }
  }
}

.#{$fortitude-namespace}wings__target--narrow {
  padding: 0 $fortitude-base-spacing-unit;
}
