/*------------------------------------*\
    #RESET
\*------------------------------------*/

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr, figure {
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: 100%;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

abbr[title],
dfn[title] {
  cursor: help;
}

img { -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  overflow: auto;
  @if $fortitude-enable-vendor-optimizations {
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
  }
}
