.animated {
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opactiy: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opactiy: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opactiy: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opactiy: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opactiy: 1;
  }
  100% {
    opacity: 0;
  }
}

.grow {
  -webkit-animation-name: grow;
          animation-name: grow;
}

@-webkit-keyframes grow {
  0% {
    width: 1px;
  }
  100% {
    width: 100px;
  }
}

@keyframes grow {
  0% {
    width: 1px;
  }
  100% {
    width: 100px;
  }
}

.tiny { width: 1px; }