/*------------------------------------*\
    #HORIZONTAL RULE
\*------------------------------------*/

hr {
  border-top: (fortitude-halve($fortitude-base-spacing-unit) - 1px) solid transparent;
  border-bottom: 1px solid;
  border-right-color: transparent;
  border-left-color: transparent;
}

.hr--top {
  border-top: 1px solid;
  border-bottom: (fortitude-halve($fortitude-base-spacing-unit) - 1px) solid transparent;
}

.hr--dashed {
  border-style: dashed;
}
