/*------------------------------------*\
    #HORIZONTAL RULE
\*------------------------------------*/

hr {
    border-top: halve($fortitude-base-spacing-unit) - 0.1rem solid transparent;
    border-bottom: 0.1rem solid;
    border-right-color: transparent;
    border-left-color: transparent;
}