/*------------------------------------*\
    #PAGE
\*------------------------------------*/

*,
*::before,
*::after {
  vertical-align: top;
}

html {
  font-size: $fortitude-base-rem-font-size;
}

body {
  @include fortitude-font-size($fortitude-base-font-size, true);
  vertical-align: top;
}

.clearfix {
  @include fortitude-clearfix;
}
