//------------------------------------
//  #PARAGRAPHS
//------------------------------------

pre {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.#{$namespace}p--tall,
%#{$namespace}p--tall {
  line-height: $base-line-height * 1.25;
}

.#{$namespace}p--short,
%#{$namespace}p--short {
  line-height: halve($base-line-height) * 1.5;
}

//
// The `.lead` class is used to make the introductory text (usually a paragraph)
// of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
//

.#{$namespace}p--lead,
%#{$namespace}p--lead {
  font-size: $heading-size-4;
  line-height: $base-line-height * 1.25;

  &.#{$namespace}p--tall,
  &%#{$namespace}p--tall {
    line-height: $base-line-height * 1.5;
  }

  &.#{$namespace}p--short,
  &%#{$namespace}p--short {
    line-height: $base-line-height;
  }
}

.#{$namespace}p--trail,
%#{$namespace}p--trail {
  font-size: $heading-size-6;
  line-height: halve($base-line-height) * 1.5;

  &.#{$namespace}p--tall,
  &%#{$namespace}p--tall {
    line-height: $base-line-height;
  }

  &.#{$namespace}p--short,
  &%#{$namespace}p--short {
    line-height: halve($base-line-height);
  }
}
