/*doc
---
title: Extensions
parent: box
name: box-extensions
category: Objects
---

Class          | Description
-------------- | ----------------------------------
`box--rounded` | A box with rounded corners
`box--default` | A basic box
`box--primary` | A box for primary information
`box--success` | A box for success information
`box--info`    | A box for sidenote information
`box--warning` | A box for warning information
`box--danger`  | A box for destructive information
`box--inverse` | A basic box

```html_preview_example
<div class="box box--rounded box--styleguide xs-p1">
  <h1 class="xs-mb1">Rounded</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--default xs-p1">
  <h1 class="xs-mb1">Default</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--primary xs-p1">
  <h1 class="xs-mb1">Primary</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--success xs-p1">
  <h1 class="xs-mb1">Success</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--info xs-p1">
  <h1 class="xs-mb1">Info</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--warning xs-p1">
  <h1 class="xs-mb1">Warning</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--danger xs-p1">
  <h1 class="xs-mb1">Danger</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
<div class="box box--inverse xs-p1">
  <h1 class="xs-mb1">Inverse</h1>
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Commodi pariatur culpa earum!
    Qui autem totam cum porro minus iusto,
    sint consequatur odit voluptatem velit aliquam dolorum dolorem ut,
    repellendus hic!
  </p>
</div>
```
*/

$fortitude-enable-box: false !default;

@if $fortitude-enable-box {
  @each $intent, $rules in $fortitude-box-intents {
    .box--#{$intent} {
      @each $property, $value in $rules {
        #{$property}: $value;
      }
    }
  }
}
