$fortitude-enable-navigationbar: false !default;

@if $fortitude-enable-navigationbar {
  .navigationbar--default {
    background-color: map-get($fortitude-colors, "white");
    box-shadow: 0 0.1rem 0 0 map-get($fortitude-colors, "gray-light");
    text-transform: uppercase;

    .navigationbar__logo {
      font-size: 1.8rem;
      color: map-get($fortitude-colors, "black");
      text-decoration: none;
    }

    .navigationbar__list {
      background-color: map-get($fortitude-colors, "white");
    }

    .navigationbar__link,
    .navigationbar__dropdown__link {
      box-shadow: 0 0.1rem 0 0 map-get($fortitude-colors, "gray-light");
    }

    .navigationbar__link,
    .navigationbar__dropdown__link {
      color: map-get($fortitude-colors, "black");
      text-decoration: none;
      font-size: 1.4rem;
    }
  }

  @include fortitude-breakpoints {
    $alias: map-get($fortitude-tmp, "current-breakpoint-alias");
    .#{$alias}-navigationbar.navigationbar--default {
      .navigationbar__link,
      .navigationbar__dropdown__link {
        box-shadow: none;
      }

      .navigationbar__dropdown {
        background-color: map-get($fortitude-colors, "gray-light");
        color: map-get($fortitude-colors, "black");

        &::before {
          @include fortitude-triangle("top", 1rem, map-get($fortitude-colors, "gray-light"));
          content: "";
          position: absolute;
          top: -1rem;
          left: 50%;
          margin-left: -1rem;
        }
      }
    }
  }
}
