$fortitude-enable-navigationbar: false !default;

@if $fortitude-enable-navigationbar {
  .navigationbar--default {
    background-color: map-get($fortitude-colors, "white");
    box-shadow: 0 0.1rem 0 0 map-get($fortitude-colors, "gray-light");
    text-transform: uppercase;

    .navigationbar__logo {
      font-size: 1.8rem;
      color: map-get($fortitude-colors, "black");
      text-decoration: none;
    }

    .navigationbar__list {
      background-color: map-get($fortitude-colors, "white");
      box-shadow: 0 0.1rem 0 0 map-get($fortitude-colors, "gray-light");
    }

    .navigationbar__dropdown {
      background-color: map-get($fortitude-colors, "gray-light");

      &::before {
        @include fortitude-triangle("top", 0.8rem, map-get($fortitude-colors, "gray-light"));
        content: "";
        position: absolute;
        right: 20%;
        top: -0.8rem;
      }
    }

    .navigationbar__link {
      color: map-get($fortitude-colors, "black");
      text-decoration: none;
      font-size: 1.4rem;
    }

    @include fortitude-breakpoint("xs", $fortitude-breakpoints) {
      .navigationbar__dropdown {
        background-color: transparent;

        &::before {
          display: none;
        }
      }
    }
  }
}
