$fortitude-enable-navigationbar: false !default;

@if $fortitude-enable-navigationbar {
  .navigationbar--default {
    $navigationbar__toggle__icon-width: 2.2rem;
    $navigationbar__toggle__icon-height: 2.2rem;

    background-color: map-get($fortitude-colors, "gray-lightest");
    border-bottom: 0.1rem solid map-get($fortitude-colors, "gray-light");
    text-transform: uppercase;

    .navigationbar__header__logo {
      font-size: 1.8rem;
      color: map-get($fortitude-colors, "gray-darkest");
      text-decoration: none;
    }

    .navigationbar__toggle {
      > .icon {
        width: $navigationbar__toggle__icon-width;
        height: $navigationbar__toggle__icon-height;
        margin: fortitude-halve($fortitude-navigationbar-height - $navigationbar__toggle__icon-height) fortitude-halve($fortitude-navigationbar-height - $navigationbar__toggle__icon-height);
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIdJREFUeNpiYBgFtAaMbm5uCkD6PBALUMnMD0BsyAQ1UICKjgWbxwhiAV1dQE0X79q1a8IQjDxoUCQAKQUqmfkAGBQLQKnCAJoqqAnAqeIDFDNQMbl9gAWFApWD4sHQzNKgjDEfiAOoZOYGIE4ERZ4BFQ1lgJplAIu89VTO0oGj5TvtAUCAAQCVmCDkKRdAyQAAAABJRU5ErkJggg==');
        // Retina
        @media
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNrsl7ENwjAQRU1oKDNCUBaADVK5zgi0VMAEjADZgBEokSuYgCwQYTpKj8CdZEdHSZWz9J9kn919nc73fcYAAACYklk6WGtPFPZKdZ6dc4dRMIldUXgqT+6aRPdFvJQZVAMn1STBIQPBPW9z3oZh+NR1/aZjQ2uhTCgnc0vlcEPLAQD8Z80thWNq0Iq40+qorV2lNVcUXsqTuyTRPjldlUE1NNKac8BLa/ZkzZXC+k1cqBy6n0cnvpnafm6Bv5XojwAosGZuazuFre0R25qX1lxGa9Y6jIZozaEQE6nmyZm1tVlacyFGaM1uMuqTj47TvtFozfHRBQMAAGByvgIMAOBPRPy+NdlpAAAAAElFTkSuQmCC');
          background-size: $navigationbar__toggle__icon-height $navigationbar__toggle__icon-width;
        }
      }
    }

    .navigationbar__toggle__helper {
      width: $navigationbar__toggle__icon-width + ($fortitude-navigationbar-height - $navigationbar__toggle__icon-height);
      height: $navigationbar__toggle__icon-height + ($fortitude-navigationbar-height - $navigationbar__toggle__icon-height);
      margin-right: (-($navigationbar__toggle__icon-width + ($fortitude-navigationbar-height - $navigationbar__toggle__icon-height)));
    }

    .navigationbar__navigation {
      background-color: map-get($fortitude-colors, "gray-lightest");
      box-shadow: 0 0.1rem 0 0 map-get($fortitude-colors, "gray-light");
    }

    .navigationbar__dropdown {
      background-color: map-get($fortitude-colors, "gray-lightest");
      box-shadow: inset 0 0 0 0.1rem map-get($fortitude-colors, "gray-light");
    }

    .navigationbar__link {
      color: map-get($fortitude-colors, "gray-darkest");
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}
