/*------------------------------------*\
    #BADGE
\*------------------------------------*/

$fortitude-badge-border-radius: 0 !default;
$fortitude-badge-border-style: solid !default;
$fortitude-badge-border-width: 0 !default;

$fortitude-badge-height--default: 2.6rem !default;
$fortitude-badge-margin-vertical--default: fortitude-component-margin($fortitude-badge-height--default, $fortitude-badge-border-width) !default;
$fortitude-badge-margin-horizontal--default: 0 !default;
$fortitude-badge-margin--default: $fortitude-badge-margin-vertical--default $fortitude-badge-margin-horizontal--default !default;
$fortitude-badge-padding-vertical--default: fortitude-component-padding($fortitude-badge-height--default, $fortitude-badge-border-width) !default;
$fortitude-badge-padding-horizontal--default: 1rem !default;
$fortitude-badge-padding--default: $fortitude-badge-padding-vertical--default $fortitude-badge-padding-horizontal--default !default;

$fortitude-badge-height--small: 2rem !default;
$fortitude-badge-margin-vertical--small: fortitude-component-margin($fortitude-badge-height--small, $fortitude-badge-border-width) !default;
$fortitude-badge-margin-horizontal--small: 0 !default;
$fortitude-badge-margin--small: $fortitude-badge-margin-vertical--small $fortitude-badge-margin-horizontal--small !default;
$fortitude-badge-padding-vertical--small: fortitude-component-padding($fortitude-badge-height--small, $fortitude-badge-border-width) !default;
$fortitude-badge-padding-horizontal--small: 0.5rem !default;
$fortitude-badge-padding--small: $fortitude-badge-padding-vertical--small $fortitude-badge-padding-horizontal--small !default;

$fortitude-badge-height--large: 4rem !default;
$fortitude-badge-margin-vertical--large: fortitude-component-margin($fortitude-badge-height--large, $fortitude-badge-border-width) !default;
$fortitude-badge-margin-horizontal--large: 0 !default;
$fortitude-badge-margin--large: $fortitude-badge-margin-vertical--large $fortitude-badge-margin-horizontal--large !default;
$fortitude-badge-padding-vertical--large: fortitude-component-padding($fortitude-badge-height--large, $fortitude-badge-border-width) !default;
$fortitude-badge-padding-horizontal--large: 2rem !default;
$fortitude-badge-padding--large: $fortitude-badge-padding-vertical--large $fortitude-badge-padding-horizontal--large !default;

$fortitude-enable-badge--small: false !default;
$fortitude-enable-badge--large: false !default;
$fortitude-enable-badge--pill: false !default;

@mixin fortitude-badge($extensions: ()) {
  $is-small: fortitude-contains($extensions, small);
  $is-large: fortitude-contains($extensions, large);
  $is-pill: fortitude-contains($extensions, pill);

  border: $fortitude-badge-border-width $fortitude-badge-border-style transparent;
  cursor: default;
  display: inline-block;
  font: inherit;
  background-color: transparent;
  text-align: center;
  overflow: visible;
  white-space: nowrap;

  @if $is-small {
    @include fortitude-badge--small;
  } @else if $is-large {
    @include fortitude-badge--large;
  } @else {
    margin: $fortitude-badge-margin--default;
    padding: $fortitude-badge-padding--default;
  }

  @if $is-pill {
    @include fortitude-badge--pill;
  } @else if $fortitude-badge-border-radius != 0 {
    border-radius: $fortitude-badge-border-radius;
  }
}

@mixin fortitude-badge--small {
  margin: $fortitude-badge-margin--small;
  padding: $fortitude-badge-padding--small;
}

@mixin fortitude-badge--large {
  margin: $fortitude-badge-margin--large;
  padding: $fortitude-badge-padding--large;
}

@mixin fortitude-badge--pill {
  border-radius: 100rem;
}
