/*------------------------------------*\
    #BOX
\*------------------------------------*/

$fortitude-box-border-style: solid !default;
$fortitude-box-border-width: 0 !default;

$fortitude-box-border-radius--rounded: 0.2rem !default;

@mixin fortitude-box($extensions: ()) {
  $is-rounded: fortitude-contains($extensions, rounded);

  @include fortitude-clearfix;

  border-color: transparent;
  border-style: $fortitude-box-border-style;
  border-width: fortitude-rem-to-px($fortitude-box-border-width);
  display: block;

  @if $is-rounded {
    @include fortitude-box--rounded;
  }
}

@mixin fortitude-box--rounded {
  border-radius: $fortitude-box-border-radius--rounded;
}
