/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

$fortitude-button-border-radius: 0.2rem !default;
$fortitude-button-border-style: solid !default;
$fortitude-button-border-width: 0.1rem !default;

$fortitude-button-height--default: 3.6rem !default;
$fortitude-button-margin-horizontal--default: 0 !default;
$fortitude-button-margin-vertical--default: fortitude-component-margin($fortitude-button-height--default, $fortitude-button-border-width) !default;
$fortitude-button-margin--default: $fortitude-button-margin-vertical--default $fortitude-button-margin-horizontal--default !default;
$fortitude-button-padding-horizontal--default: fortitude-component-padding($fortitude-button-height--default, $fortitude-button-border-width) * 2 !default;
$fortitude-button-padding-vertical--default: fortitude-component-padding($fortitude-button-height--default, $fortitude-button-border-width) !default;
$fortitude-button-padding--default: $fortitude-button-padding-vertical--default $fortitude-button-padding-horizontal--default !default;

$fortitude-button-height--small: 3rem !default;
$fortitude-button-margin-horizontal--small: 0 !default;
$fortitude-button-margin-vertical--small: fortitude-component-margin($fortitude-button-height--small, $fortitude-button-border-width) !default;
$fortitude-button-margin--small: $fortitude-button-margin-vertical--small $fortitude-button-margin-horizontal--small !default;
$fortitude-button-padding-horizontal--small: fortitude-component-padding($fortitude-button-height--small, $fortitude-button-border-width) * 2 !default;
$fortitude-button-padding-vertical--small: fortitude-component-padding($fortitude-button-height--small, $fortitude-button-border-width) !default;
$fortitude-button-padding--small: $fortitude-button-padding-vertical--small $fortitude-button-padding-horizontal--small !default;

$fortitude-button-height--large: 6rem !default;
$fortitude-button-margin-horizontal--large: 0 !default;
$fortitude-button-margin-vertical--large: fortitude-component-margin($fortitude-button-height--large, $fortitude-button-border-width) !default;
$fortitude-button-margin--large: $fortitude-button-margin-vertical--large $fortitude-button-margin-horizontal--large;
$fortitude-button-padding-horizontal--large: fortitude-component-padding($fortitude-button-height--large, $fortitude-button-border-width) * 2 !default;
$fortitude-button-padding-vertical--large: fortitude-component-padding($fortitude-button-height--large, $fortitude-button-border-width) !default;
$fortitude-button-padding--large: $fortitude-button-padding-vertical--large $fortitude-button-padding-horizontal--large;

$fortitude-enable-button--small: false !default;
$fortitude-enable-button--large: false !default;
$fortitude-enable-button--full: false !default;
$fortitude-enable-button--pill: false !default;

$fortitude-global-border-box: false !default;

@mixin fortitude-button($extensions: ()) {
  $is-small: fortitude-contains($extensions, small);
  $is-large: fortitude-contains($extensions, large);
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  background-color: transparent;
  border: $fortitude-button-border-width $fortitude-button-border-style transparent;
  display: inline-block;
  font: inherit;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  position: relative;

  @if $is-small {
    @include fortitude-button--small;
  } @else if $is-large {
    @include fortitude-button--large;
  } @else {
    margin: $fortitude-button-margin--default;
    padding: $fortitude-button-padding--default;
  }

  @if $is-full {
    @include fortitude-button--full;
  }

  @if $is-pill {
    @include fortitude-button--pill;
  } @else if $fortitude-button-border-radius != 0 {
    border-radius: $fortitude-button-border-radius;
  }

  @if $fortitude-global-border-box == false {
    box-sizing: border-box;
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin fortitude-button--small {
  margin: $fortitude-button-margin--small;
  padding: $fortitude-button-padding--small;
}

@mixin fortitude-button--large {
  margin: $fortitude-button-margin--large;
  padding: $fortitude-button-padding--large;
}

@mixin fortitude-button--full {
  width: 100%;

  @if $fortitude-global-border-box == false {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin fortitude-button--pill {
  border-radius: 10rem;
}

@mixin fortitude-button__element($extensions: ()) {
  position: absolute;
  opacity: 0;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
