/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

$fortitude-button-border-radius: 0.2rem !default;
$fortitude-button-border-style: solid !default;
$fortitude-button-border-width: 0.1rem !default;

$fortitude-button-height--default: $fortitude-base-spacing-unit + 1.6rem !default;
$fortitude-button-horizontal-padding--default: fortitude-block-padding($fortitude-button-height--default, $fortitude-button-border-width) * 2 !default;

$fortitude-button-height--small: $fortitude-base-spacing-unit + 1rem !default;
$fortitude-button-horizontal-padding--small: fortitude-block-padding($fortitude-button-height--small, $fortitude-button-border-width) * 2 !default;

$fortitude-button-height--large: fortitude-double($fortitude-base-spacing-unit) + 2rem !default;
$fortitude-button-horizontal-padding--large: fortitude-block-padding($fortitude-button-height--large, $fortitude-button-border-width) * 2 !default;

$fortitude-enable-button--small: false !default;
$fortitude-enable-button--large: false !default;
$fortitude-enable-button--full: false !default;
$fortitude-enable-button--pill: false !default;

$fortitude-global-border-box: false !default;

@mixin fortitude-button($extensions: ()) {
  $is-small: fortitude-contains($extensions, small);
  $is-large: fortitude-contains($extensions, large);
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  background-color: transparent;
  border: $fortitude-button-border-width $fortitude-button-border-style transparent;
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-size: $fortitude-base-font-size;
  text-align: center;
  cursor: pointer;
  overflow: visible;
  white-space: nowrap;
  position: relative;

  @if $is-small {
    @include fortitude-button--small;
  } @else if $is-large {
    @include fortitude-button--large;
  } @else {
    margin: fortitude-block-margin($fortitude-button-height--default, $fortitude-button-border-width) 0;
    padding: fortitude-block-padding($fortitude-button-height--default, $fortitude-button-border-width) $fortitude-button-horizontal-padding--default;
  }

  @if $is-full {
    @include fortitude-button--full;
  }

  @if $is-pill {
    @include fortitude-button--pill;
  } @else if $fortitude-button-border-radius != 0 {
    border-radius: $fortitude-button-border-radius;
  }

  @if $fortitude-global-border-box == false {
    box-sizing: border-box;
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

@mixin fortitude-button--small {
  margin: fortitude-block-margin($fortitude-button-height--small, $fortitude-button-border-width) 0;
  padding: fortitude-block-padding($fortitude-button-height--small, $fortitude-button-border-width) $fortitude-button-horizontal-padding--small;
}

@mixin fortitude-button--large {
  margin: fortitude-block-margin($fortitude-button-height--large, $fortitude-button-border-width) 0;
  padding: fortitude-block-padding($fortitude-button-height--large, $fortitude-button-border-width) $fortitude-button-horizontal-padding--large;
}

@mixin fortitude-button--full {
  width: 100%;

  @if $fortitude-global-border-box == false {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin fortitude-button--pill {
  border-radius: 10rem;
}

@mixin fortitude-button__target($extensions: ()) {
  position: absolute;
  opacity: 0;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
