/*------------------------------------*\
    #FLASHBAR
\*------------------------------------*/

/**
 * A simple flashbar object.
**/

$fortitude-flashbar-border-style: solid !default;
$fortitude-flashbar-border-width: 0 !default;
$fortitude-flashbar__close-text-decoration: none !default;

@mixin fortitude-flashbar($extensions: ()) {
  @include fortitude-clearfix;
  border: $fortitude-flashbar-border-width $fortitude-flashbar-border-style transparent;
  position: relative;
}

@mixin fortitude-flashbar--closed($extensions: ()) {
  display: none;
}

@mixin fortitude-flashbar__close($extensions: ()) {
  position: absolute;
  right: fortitude-halve($fortitude-base-spacing-unit);
  text-decoration: $fortitude-flashbar__close-text-decoration;
}
