$fortitude-flag-gutter--default: 2rem !default;

$fortitude-flag-gutter--small: fortitude-halve($fortitude-flag-gutter--default) !default;

$fortitude-flag-gutter--large: fortitude-double($fortitude-flag-gutter--default) !default;

$fortitude-flag-collapse-at--responsive: 720px !default;

$fortitude-enable-flag--small: false !default;
$fortitude-enable-flag--large: false !default;
$fortitude-enable-flag--rev: false !default;
$fortitude-enable-flag--flush: false !default;
$fortitude-enable-flag--top: false !default;
$fortitude-enable-flag--bottom: false !default;
$fortitude-enable-flag--responsive: false !default;

@mixin fortitude-flag($extensions: ()) {
  display: table;
  width: 100%;
}

@mixin fortitude-flag--rev {
  direction: rtl;
}

@mixin fortitude-flag--responsive {
  @include fortitude-breakpoint("(max-width: #{$fortitude-flag-collapse-at--responsive})") {
    @if $fortitude-enable-flag--rev {
      direction: ltr;

      @content;
    }

    display: block;
  }
}

@mixin fortitude-flag__object($extensions: ()) {
  display: table-cell;
  vertical-align: middle;
  padding-right: $fortitude-flag-gutter--default;
}

@mixin fortitude-flag__object--top {
  vertical-align: top;
}

@mixin fortitude-flag__object--bottom {
  vertical-align: bottom;
}

@mixin fortitude-flag__object--flush {
  padding-right: 0;
  padding-left: 0;
}

@mixin fortitude-flag__object--small {
  padding-right: $fortitude-flag-gutter--small;
}

@mixin fortitude-flag__object--large {
  padding-right: $fortitude-flag-gutter--large;
}

@mixin fortitude-flag__object--rev {
  direction: ltr;
  padding-right: 0;
  padding-left: $fortitude-flag-gutter--default;
}

@mixin fortitude-flag__object--rev--small {
  padding-right: 0;
  padding-left: $fortitude-flag-gutter--small;
}

@mixin fortitude-flag__object--rev--large {
  padding-right: 0;
  padding-left: $fortitude-flag-gutter--large;
}

@mixin fortitude-flag__object--responsive {
  display: block;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: $fortitude-flag-gutter--default;
}

@mixin fortitude-flag__object--responsive--small {
  padding-right: 0;
  padding-left: 0;
}

@mixin fortitude-flag__object--responsive--large {
  padding-right: 0;
  padding-left: 0;
}

@mixin fortitude-flag__object__content($extensions: ()) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

@mixin fortitude-flag__body($extensions: ()) {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

@mixin fortitude-flag__body--top {
  vertical-align: top;
}

@mixin fortitude-flag__body--bottom {
  vertical-align: bottom;
}

@mixin fortitude-flag__body--rev {
  direction: ltr;
}

@mixin fortitude-flag__body--responsive {
  display: block;
}
