/*------------------------------------*\
    #FLASHBAR
\*------------------------------------*/

/**
 * A simple flashbar object.
**/

$fortitude-flashbar-border-style: solid !default;
$fortitude-flashbar-border-width: 0 !default;
$fortitude-flashbar-padding-vertical: fortitude-halve($fortitude-base-spacing-unit);
$fortitude-flashbar-padding-horizontal: fortitude-halve($fortitude-base-spacing-unit);
$fortitude-flashbar-padding: $fortitude-flashbar-padding-vertical $fortitude-flashbar-padding-horizontal;

$fortitude-flashbar__close-text-decoration: none !default;
$fortitude-flashbar__close-font-size: 1.8rem;

@mixin fortitude-flashbar($extensions: ()) {
  @include fortitude-clearfix;
  border: $fortitude-flashbar-border-width $fortitude-flashbar-border-style transparent;
  padding: $fortitude-flashbar-padding;
  position: relative;
}

@mixin fortitude-flashbar--closed($extensions: ()) {
  display: none;
}

@mixin fortitude-flashbar__close($extensions: ()) {
  position: absolute;
  right: fortitude-halve($fortitude-base-spacing-unit);
  text-decoration: $fortitude-flashbar__close-text-decoration;
  font-size: $fortitude-flashbar__close-font-size;
}
