/*------------------------------------*\
    #INLINE-LIST
\*------------------------------------*/

@mixin fortitude-inline-list($extensions: ()) {
  margin:  0;
  padding: 0;
  list-style: none;
}

@mixin fortitude-inline-list__item($extensions: ()) {
  display: inline-block;
}
