/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

$fortitude-enable-media--reverse:    false !default;
$fortitude-enable-media--flush:      false !default;
$fortitude-enable-media--responsive: false !default;

@mixin fortitude-media($extensions: ()) {
  @include fortitude-clearfix;
  display: block;
}

@mixin fortitude-media__object($extensions: ()) {
  $is-reverse:    fortitude-contains($extensions, reverse);
  $is-responsive: fortitude-contains($extensions, responsive);

  @if $is-responsive {
    @include fortitude-media--responsive__object;
  }

  @if $is-reverse {
    @include fortitude-media--reverse__object;
  }
}

@mixin fortitude-media--responsive__object {
  float: left;
}

@mixin fortitude-media--reverse__object {
  float: right;
}

@mixin fortitude-media__body($extensions: ()) {
  overflow: hidden;
  display: block;
}
