/*------------------------------------*\
    #TABS
\*------------------------------------*/

@mixin fortitude-tabs__content($extensions: ()) {
  $is-shown: fortitude-contains($extensions, active);

  @if $is-shown {
    @include fortitude-tabs__content--is-shown;
  } @else {
    display: none;
  }
}

@mixin fortitude-tabs__content--is-shown {
  display: block;
}
