/*------------------------------------*\
    #TOOLTIP
\*------------------------------------*/

$fortitude-tooltip-width: 18rem !default;
$fortitude-tooltip-border-radius: 0.2rem !default;
$fortitude-tooltip-arrow-size: 0.6rem !default;
$fortitude-tooltip-color: #ffffff !default;
$fortitude-tooltip-background-color: rgba(30, 30, 30, 0.9) !default;
$fortitude-tooltip-padding: 0.8rem !default;
$fortitude-tooltip-font-size: 1rem !default;
$fortitude-tooltip-line-height: 1.4rem !default;
$fortitude-tooltip-padding-vertical: $fortitude-tooltip-padding !default;
$fortitude-tooltip-padding-horizontal: $fortitude-tooltip-padding !default;
$fortitude-tooltip-min-height: $fortitude-tooltip-line-height + $fortitude-tooltip-padding * 2 !default;

@mixin fortitude-tooltip($extensions: ()) {
  $is-top: fortitude-contains($extensions, top);
  $is-right: fortitude-contains($extensions, right);
  $is-bottom: fortitude-contains($extensions, bottom);
  $is-left: fortitude-contains($extensions, left);

  position: relative;
  cursor: pointer;

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    visibility: visible;
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  }

  &::before {
    z-index: 1001;
    border: $fortitude-tooltip-arrow-size solid transparent;
    background: transparent;
    content: "";
  }

  &::after {
    z-index: 1000;
    padding: $fortitude-tooltip-padding-vertical $fortitude-tooltip-padding-horizontal;
    width: $fortitude-tooltip-width;
    background-color: $fortitude-tooltip-background-color;
    border-radius: $fortitude-tooltip-border-radius;
    color: $fortitude-tooltip-color;
    content: attr(data-tooltip);
    font-size: $fortitude-tooltip-font-size;
    line-height: $fortitude-tooltip-line-height;
  }

  @if $is-top {
    @include fortitude-tooltip--top;
  } @else if $is-right {
    @include fortitude-tooltip--right;
  } @else if $is-bottom {
    @include fortitude-tooltip--bottom;
  } @else if $is-left {
    @include fortitude-tooltip--left;
  }
}

@mixin fortitude-tooltip--top {
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    transform: translateY(-(2rem / 4 + $fortitude-tooltip-arrow-size));
  }

  &::before,
  &::after {
    bottom: 100%;
    left: 50%;
  }

  &::before {
    margin-left: -$fortitude-tooltip-arrow-size;
    margin-bottom: -($fortitude-tooltip-arrow-size * 2);
    border-top-color: $fortitude-tooltip-background-color;
  }

  &::after {
    margin-left: -($fortitude-tooltip-width / 2);
  }
}

@mixin fortitude-tooltip--right {
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    transform: translateX(2rem / 4 + $fortitude-tooltip-arrow-size);
  }

  &::before,
  &::after {
    bottom: 50%;
    left: 100%;
  }

  &::before {
    top: $fortitude-tooltip-padding-vertical - ($fortitude-tooltip-arrow-size / 2 + $fortitude-tooltip-padding-vertical / 2);
    margin-bottom: 0;
    margin-left: -($fortitude-tooltip-arrow-size * 2);
    border-top-color: transparent;
    border-right-color: $fortitude-tooltip-background-color;
  }

  &::after {
    margin-left: 0;
    margin-bottom: -($fortitude-tooltip-padding-vertical + 0.7rem);
  }
}

@mixin fortitude-tooltip--bottom {
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    transform: translateY(2rem / 4 + $fortitude-tooltip-arrow-size);
  }

  &::before,
  &::after {
    top: 100%;
    bottom: auto;
    left: 50%;
  }

  &::before {
    margin-top: -($fortitude-tooltip-arrow-size * 2);
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: $fortitude-tooltip-background-color;
  }

  &::after {
    margin-left: -($fortitude-tooltip-width / 2);
  }
}

@mixin fortitude-tooltip--left {
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    transform: translateX(-(2rem / 4 + $fortitude-tooltip-arrow-size));
  }

  &::before,
  &::after {
    right: 100%;
    bottom: 50%;
    left: auto;
  }

  &::before {
    top: $fortitude-tooltip-padding-vertical - ($fortitude-tooltip-arrow-size / 2 + $fortitude-tooltip-padding-vertical / 2);
    margin-left: 0;
    margin-right: -($fortitude-tooltip-arrow-size * 2);
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: $fortitude-tooltip-background-color;
  }

  &::after {
    margin-left: 0;
    margin-bottom: -($fortitude-tooltip-padding-vertical + 0.7rem);
  }
}
