$colors:           $fortitude-colors;
$grays:            $fortitude-grays;
$color-intents:    $fortitude-color-intents;
$badge-intents:    $fortitude-badge-intents;
$box-intents:      $fortitude-box-intents;
$button-intents:   $fortitude-button-intents;
$flashbar-intents: $fortitude-flashbar-intents;
$wings-intents:    $fortitude-wings-intents;
