$fortitude-responsive-border-unit-total: 1 !default;

@include fortitude-breakpoint-classes {
  @for $index from 0 through $fortitude-responsive-border-unit-total {
    $value: fortitude-strip-unit-if-zero($index * 0.1rem) !important;

    &-bt#{$index},
    &-b#{$index},
    &-btb#{$index} {
      border-top-width: $value;
    }

    &-br#{$index},
    &-b#{$index},
    &-brl#{$index} {
      border-right-width: $value;
    }

    &-bb#{$index},
    &-b#{$index},
    &-btb#{$index} {
      border-bottom-width: $value;
    }

    &-bl#{$index},
    &-b#{$index},
    &-brl#{$index} {
      border-left-width: $value;
    }
  }
}
