$fortitude-responsive-font-sizes: (alpha: 3.6rem, beta: 3rem, gamma: 2.4rem, delta: 1.8rem, epsilon: 1.4rem, zeta: 1rem) !default;

@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    @each $font-size-alias, $value in $fortitude-responsive-font-sizes {
      .#{$alias}-#{$font-size-alias} {
        font-size: $value !important;
      }
    }
  }
}
