$fortitude-responsive-line-height-unit-total: 2 !default;

@include fortitude-breakpoint-classes {
  @for $fortitude-index from 0 through $fortitude-responsive-line-height-unit-total {
    &-inset#{$fortitude-index} {
      line-height: $fortitude-base-line-height * $fortitude-index !important;
    }
    &-inseth#{$fortitude-index} {
      line-height: $fortitude-base-line-height * $fortitude-index + halve($fortitude-base-line-height) !important;
    }
  }
}
