@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    .#{$alias}-float-left {
      float: left !important;
    }

    .#{$alias}-float-right {
      float: right !important;
    }

    .#{$alias}-float-none {
      float: none !important;
    }
  }
}
