$fortitude-responsive-height-total: 12 !default;

@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    @for $index from 1 through $fortitude-responsive-height-total {
      $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

      .#{$alias}-#{$index} {
        min-height: $value;
      }
    }
  }
}
