$fortitude-responsive-margin-unit-total: 10 !default;
$fortitude-responsive-negative-margin-unit-total: 10 !default;

@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    @for $index from 0 through $fortitude-responsive-margin-unit-total {
      $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;
      $value-and-half: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index + fortitude-halve($fortitude-base-spacing-unit)) !important;

      .#{$alias}-mt#{$index},
      .#{$alias}-m#{$index},
      .#{$alias}-mtb#{$index} {
        margin-top: $value;
      }

      .#{$alias}-mth#{$index},
      .#{$alias}-mh#{$index},
      .#{$alias}-mtbh#{$index} {
        margin-top: $value-and-half;
      }

      .#{$alias}-mr#{$index},
      .#{$alias}-m#{$index},
      .#{$alias}-mrl#{$index} {
        margin-right: $value;
      }

      .#{$alias}-mrh#{$index},
      .#{$alias}-mh#{$index},
      .#{$alias}-mrlh#{$index} {
        margin-right: $value-and-half;
      }

      .#{$alias}-mb#{$index},
      .#{$alias}-m#{$index},
      .#{$alias}-mtb#{$index} {
        margin-bottom: $value;
      }

      .#{$alias}-mbh#{$index},
      .#{$alias}-mh#{$index},
      .#{$alias}-mtbh#{$index} {
        margin-bottom: $value-and-half;
      }

      .#{$alias}-ml#{$index},
      .#{$alias}-m#{$index},
      .#{$alias}-mrl#{$index} {
        margin-left: $value;
      }

      .#{$alias}-mlh#{$index},
      .#{$alias}-mh#{$index},
      .#{$alias}-mrlh#{$index} {
        margin-left: $value-and-half;
      }
    }

    @for $index from 0 through $fortitude-responsive-negative-margin-unit-total {
      $value: fortitude-strip-unit-if-zero(-($fortitude-base-spacing-unit * $index)) !important;
      $value-and-half: fortitude-strip-unit-if-zero(-($fortitude-base-spacing-unit * $index + fortitude-halve($fortitude-base-spacing-unit))) !important;

      .#{$alias}-mt-#{$index},
      .#{$alias}-m-#{$index},
      .#{$alias}-mtb-#{$index} {
        margin-top: $value;
      }

      .#{$alias}-mth-#{$index},
      .#{$alias}-mh-#{$index},
      .#{$alias}-mtbh-#{$index} {
        margin-top: $value-and-half;
      }

      .#{$alias}-mr-#{$index},
      .#{$alias}-m-#{$index},
      .#{$alias}-mrl-#{$index} {
        margin-right: $value;
      }

      .#{$alias}-mrh-#{$index},
      .#{$alias}-mh-#{$index},
      .#{$alias}-mrlh-#{$index} {
        margin-right: $value-and-half;
      }

      .#{$alias}-mb-#{$index},
      .#{$alias}-m-#{$index},
      .#{$alias}-mtb-#{$index} {
        margin-bottom: $value;
      }

      .#{$alias}-mbh-#{$index},
      .#{$alias}-mh-#{$index},
      .#{$alias}-mtbh-#{$index} {
        margin-bottom: $value-and-half;
      }

      .#{$alias}-ml-#{$index},
      .#{$alias}-m-#{$index},
      .#{$alias}-mrl-#{$index} {
        margin-left: $value;
      }

      .#{$alias}-mlh-#{$index},
      .#{$alias}-mh-#{$index},
      .#{$alias}-mrlh-#{$index} {
        margin-left: $value-and-half;
      }
    }

    .#{$alias}-mrlauto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}
