@include fortitude-utility-class {
  @include fortitude-breakpoint-classes {
    &-text-left {
      text-align: left;
    }
    &-text-center {
      text-align: center;
    }
    &-text-right {
      text-align: right;
    }
    &-text-justify {
      text-align: justify;
    }
  }
}
