$fortitude-responsive-column-total: 12 !default;

@include fortitude-breakpoint-classes {
  @for $fortitude-index from 0 through $fortitude-responsive-column-total {
    &-#{$fortitude-index}of#{$fortitude-responsive-column-total} {
      width: percentage($fortitude-index / $fortitude-responsive-column-total) !important;
    }

    &-offset#{$fortitude-index}of#{$fortitude-responsive-column-total} {
      margin-left: percentage($fortitude-index / $fortitude-responsive-column-total) !important;
    }

    &-push#{$fortitude-index}of#{$fortitude-responsive-column-total} {
      left: percentage($fortitude-index / $fortitude-responsive-column-total) !important;
    }

    &-pull#{$fortitude-index}of#{$fortitude-responsive-column-total} {
      right: percentage($fortitude-index / $fortitude-responsive-column-total) !important;
    }
  }
}
