@include fortitude-utility-class {
  @include fortitude-breakpoint-classes {
    &-float-left {
      float: left;
    }
    &-float-right {
      float: right;
    }
    &-float-none {
      float: none;
    }
  }
}
