$fortitude-responsive-padding-unit-total: 10 !default;

@include fortitude-breakpoint-classes {
    @for $i from 0 through $fortitude-responsive-padding-unit-total {
        ##{$fortitude-app-id} &-ph#{$i} {
            padding: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-p#{$i} {
            padding: $fortitude-base-spacing-unit * $i;
        }

        ##{$fortitude-app-id} &-ptbh#{$i} {
            padding-top: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
            padding-bottom: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-ptb#{$i} {
            padding-top: $fortitude-base-spacing-unit * $i;
            padding-bottom: $fortitude-base-spacing-unit * $i;
        }

        ##{$fortitude-app-id} &-prlh#{$i} {
            padding-right: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
            padding-left: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-prl#{$i} {
            padding-right: $fortitude-base-spacing-unit * $i;
            padding-left: $fortitude-base-spacing-unit * $i;
        }

        ##{$fortitude-app-id} &-plh#{$i} {
            padding-left: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-pl#{$i} {
            padding-left: $fortitude-base-spacing-unit * $i;
        }

        ##{$fortitude-app-id} &-pbh#{$i} {
            padding-bottom: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-pb#{$i} {
            padding-bottom: $fortitude-base-spacing-unit * $i;
        }

        ##{$fortitude-app-id} &-prh#{$i} {
            padding-right: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-pr#{$i} {
            padding-right: $fortitude-base-spacing-unit * $i;
        }

        ##{$fortitude-app-id} &-pth#{$i} {
            padding-top: $fortitude-base-spacing-unit * $i + halve($fortitude-base-spacing-unit);
        }

        ##{$fortitude-app-id} &-pt#{$i} {
            padding-top: $fortitude-base-spacing-unit * $i;
        }
    }
}