@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    %#{$alias}-text-left {
      text-align: left;
    }

    .#{$alias}-text-left {
      text-align: left !important;
    }

    %#{$alias}-text-center {
      text-align: center;
    }

    .#{$alias}-text-center {
      text-align: center !important;
    }

    %#{$alias}-text-right {
      text-align: right;
    }

    .#{$alias}-text-right {
      text-align: right !important;
    }

    %#{$alias}-text-justify {
      text-align: justify;
    }

    .#{$alias}-text-justify {
      text-align: justify !important;
    }
  }
}
