$fortitude-responsive-column-total: 12 !default;

@include fortitude-breakpoint-classes {
  @for $index from 0 through $fortitude-responsive-column-total {
    $value: percentage($index / $fortitude-responsive-column-total) !important;

    &-#{$index}of#{$fortitude-responsive-column-total} {
      width: $value;
    }

    &-offset#{$index}of#{$fortitude-responsive-column-total} {
      margin-left: $value;
    }

    &-push#{$index}of#{$fortitude-responsive-column-total} {
      left: $value;
    }

    &-pull#{$index}of#{$fortitude-responsive-column-total} {
      right: $value;
    }
  }
}
