$fortitude-responsive-line-height-unit-total: 2 !default;

@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    @for $index from 0 through $fortitude-responsive-line-height-unit-total {
      $value: fortitude-strip-unit-if-zero($fortitude-base-line-height * $index) !important;
      $value-and-half: fortitude-strip-unit-if-zero($fortitude-base-line-height * $index + fortitude-halve($fortitude-base-line-height)) !important;

      .#{$alias}-inset#{$index} {
        line-height: $value;
      }

      .#{$alias}-inseth#{$index} {
        line-height: $value-and-half;
      }
    }
  }
}
