@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    .#{$alias}-none {
      display: none !important;
    }

    .#{$alias}-inline {
      display: inline !important;
    }

    .#{$alias}-inline-block {
      display: inline-block !important;
    }

    .#{$alias}-block {
      display: block !important;
    }

    .#{$alias}-table {
      display: table !important;
    }

    .#{$alias}-table-cell {
      display: table-cell !important;
    }

    .#{$alias}-table-column {
      display: table-column !important;
    }

    .#{$alias}-inherit {
      display: inherit !important;
    }
  }
}
