$fortitude-responsive-padding-unit-total: 10 !default;

@include fortitude-utility-class {
  @include fortitude-breakpoint-classes {
    @for $fortitude-index from 0 through $fortitude-responsive-padding-unit-total {
      &-pt#{$fortitude-index},
      &-p#{$fortitude-index},
      &-ptb#{$fortitude-index} {
        padding-top: $fortitude-base-spacing-unit * $fortitude-index;
      }
      &-pth#{$fortitude-index},
      &-ph#{$fortitude-index},
      &-ptbh#{$fortitude-index} {
        padding-top: $fortitude-base-spacing-unit * $fortitude-index + halve($fortitude-base-spacing-unit);
      }
      &-pr#{$fortitude-index},
      &-p#{$fortitude-index},
      &-prl#{$fortitude-index} {
        padding-right: $fortitude-base-spacing-unit * $fortitude-index;
      }
      &-prh#{$fortitude-index},
      &-ph#{$fortitude-index},
      &-prlh#{$fortitude-index} {
        padding-right: $fortitude-base-spacing-unit * $fortitude-index + halve($fortitude-base-spacing-unit);
      }
      &-pb#{$fortitude-index},
      &-p#{$fortitude-index},
      &-ptb#{$fortitude-index} {
        padding-bottom: $fortitude-base-spacing-unit * $fortitude-index;
      }
      &-pbh#{$fortitude-index},
      &-ph#{$fortitude-index},
      &-ptbh#{$fortitude-index} {
        padding-bottom: $fortitude-base-spacing-unit * $fortitude-index + halve($fortitude-base-spacing-unit);
      }
      &-pl#{$fortitude-index},
      &-p#{$fortitude-index},
      &-prl#{$fortitude-index} {
        padding-left: $fortitude-base-spacing-unit * $fortitude-index;
      }
      &-plh#{$fortitude-index},
      &-ph#{$fortitude-index},
      &-prlh#{$fortitude-index} {
        padding-left: $fortitude-base-spacing-unit * $fortitude-index + halve($fortitude-base-spacing-unit);
      }
    }
  }
}
