$fortitude-responsive-border-unit-total: 1 !default;

@include fortitude-breakpoints {
  $alias: &;

  @at-root {
    @for $index from 0 through $fortitude-responsive-border-unit-total {
      $value: fortitude-strip-unit-if-zero($index * 0.1rem);

      .#{$alias}-bt#{$index},
      .#{$alias}-b#{$index},
      .#{$alias}-btb#{$index} {
        border-top-width: $value !important;
      }

      .#{$alias}-br#{$index},
      .#{$alias}-b#{$index},
      .#{$alias}-brl#{$index} {
        border-right-width: $value !important;
      }

      .#{$alias}-bb#{$index},
      .#{$alias}-b#{$index},
      .#{$alias}-btb#{$index} {
        border-bottom-width: $value !important;
      }

      .#{$alias}-bl#{$index},
      .#{$alias}-b#{$index},
      .#{$alias}-brl#{$index} {
        border-left-width: $value !important;
      }
    }
  }
}
