/*doc
---
title: Responsive Margin
name: responsive-margin
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `margin`.
Example: `sm-mb2` will only set the bottom margin to `4rem` or `40px` on the element at the `sm` breakpoint and up.


Class                                    | Description
---------------------------------------- | -----------
`xs`, `sm`, `md`, `lg`                   | breakpoints
`m`, `mtb`, `mrl`, `mt`, `mr`, `mb` `ml` | `margin` &mdash; `t = top`, `r = right`, `b = bottom`, `l = left`
(0-8)                                    | amount of spacing

```html_preview_example
<div class="box box--default xs-mtb1 xs-p2">
  <code class="xs-block">margin-top: 2rem</code>
  <code class="xs-block">margin-bottom: 2rem</code>
  <code class="xs-block">all screen sizes</code>
</div>

<div class="box box--default sm-mrl1 md-mrl2 lg-mrl3 xs-p1">
  <code>left and right margins grows along with screen size</code>
</div>
```
*/

$fortitude-responsive-margin-unit-total: 10 !default;
$fortitude-responsive-negative-margin-unit-total: 10 !default;

@include fortitude-breakpoints {
  @for $index from 0 through $fortitude-responsive-margin-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mt#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mtb#{$index} {
      margin-top: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mr#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mrl#{$index} {
      margin-right: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mb#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mtb#{$index} {
      margin-bottom: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-ml#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mrl#{$index} {
      margin-left: $value;
    }

  }

  @for $index from 0 through $fortitude-responsive-negative-margin-unit-total {
    $value: fortitude-strip-unit-if-zero(-($fortitude-base-spacing-unit * $index)) !important;

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mt-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mtb-#{$index} {
      margin-top: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mr-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mrl-#{$index} {
      margin-right: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mb-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mtb-#{$index} {
      margin-bottom: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-ml-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-m-#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mrl-#{$index} {
      margin-left: $value;
    }
  }

  .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-mrlauto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
