/*doc
---
title: Responsive Padding
name: responsive-padding
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `padding`.
Example: `sm-ptb2` will only set the bottom and top padding to `2rem` or `20px` on the element at the `sm` breakpoint and up.

Utility                                  | Description
---------------------------------------- | -----------
`xs`, `sm`, `md`, `lg`                   | breakpoints
`p`, `ptb`, `prl`, `pt`, `pr`, `pb` `pl` | `padding` &mdash; `t = top`, `r = right`, `b = bottom`, `l = left`
(0-8)                                    | amount of spacing

```html_example
<pre class="xs-ptbh1">
  padding-top: 2rem
  padding-bottom: 2rem
  all screen sizes
</pre>
<pre class="sm-mrl1 md-prl2 lg-prl3">
  padding for larger screens
</pre>
```
*/

$fortitude-responsive-padding-unit-total: 8 !default;

@include fortitude-breakpoints {
  @for $index from 0 through $fortitude-responsive-padding-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-pt#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-p#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-ptb#{$index} {
      padding-top: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-pr#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-p#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-prl#{$index} {
      padding-right: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-pb#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-p#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-ptb#{$index} {
      padding-bottom: $value;
    }

    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-pl#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-p#{$index},
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-prl#{$index} {
      padding-left: $value;
    }
  }
}
