/*doc
---
title: Responsive Height
name: responsive-height
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify how what the elements `min-height` is.
Example: `sm-2` will only set the height to `2rem` or `20px` on the element at the `sm` breakpoint and up.

Class | Description
----- | ------------
`*-*` | min-height
*/

$fortitude-responsive-height-total: 12 !default;

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  @for $index from 1 through $fortitude-responsive-height-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    .#{$fortitude-namespace}#{$alias}-#{$index} {
      min-height: $value;
    }
  }
}
