/*doc
---
title: Responsive Text Alignment
name: responsive-text-align
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `text-align` property.
Example: `sm-text-center` will only set the elements text to center at the `sm` breakpoint and up.

Class            | Description
---------------- | -----------------------
`*-text-left`    | left text alignment
`*-text-center`  | center text alignment
`*-text-right`   | right text alignment
`*-text-justify` | justify text alignment

*/

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  .#{$fortitude-namespace}#{$alias}-text-left {
    text-align: left !important;
  }

  .#{$fortitude-namespace}#{$alias}-text-center {
    text-align: center !important;
  }

  .#{$fortitude-namespace}#{$alias}-text-right {
    text-align: right !important;
  }

  .#{$fortitude-namespace}#{$alias}-text-justify {
    text-align: justify !important;
  }
}
