/*doc
---
title: Responsive Padding
name: responsive-padding
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `padding`.
Example: `sm-ptb2` will only set the bottom and top padding to `2rem` or `20px` on the element at the `sm` breakpoint and up.

Class    | Description
-------- | -----------------------
`*-p*`   | padding all sides
`*-ptb*` | padding top and bottom
`*-prl*` | padding right and left
`*-pt*`  | padding top
`*-pr*`  | padding right
`*-pb*`  | padding bottom
`*-pl*`  | padding left
*/

$fortitude-responsive-padding-unit-total: 8 !default;

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  @for $index from 0 through $fortitude-responsive-padding-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    .#{$fortitude-namespace}#{$alias}-pt#{$index},
    .#{$fortitude-namespace}#{$alias}-p#{$index},
    .#{$fortitude-namespace}#{$alias}-ptb#{$index} {
      padding-top: $value;
    }

    .#{$fortitude-namespace}#{$alias}-pr#{$index},
    .#{$fortitude-namespace}#{$alias}-p#{$index},
    .#{$fortitude-namespace}#{$alias}-prl#{$index} {
      padding-right: $value;
    }

    .#{$fortitude-namespace}#{$alias}-pb#{$index},
    .#{$fortitude-namespace}#{$alias}-p#{$index},
    .#{$fortitude-namespace}#{$alias}-ptb#{$index} {
      padding-bottom: $value;
    }

    .#{$fortitude-namespace}#{$alias}-pl#{$index},
    .#{$fortitude-namespace}#{$alias}-p#{$index},
    .#{$fortitude-namespace}#{$alias}-prl#{$index} {
      padding-left: $value;
    }
  }
}
