@include fortitude-breakpoint-classes {
  &-none {
    display: none !important;
  }

  &-inline {
    display: inline !important;
  }

  &-inline-block {
    display: inline-block !important;
  }

  &-block {
    display: block !important;
  }

  &-table {
    display: table !important;
  }

  &-table-cell {
    display: table-cell !important;
  }

  &-table-column {
    display: table-column !important;
  }

  &-inherit {
    display: inherit !important;
  }
}
