/*doc
---
title: Responsive Width
name: responsive-width
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `width`.
Example: `sm-6of12` will only set the width to `50%` on the element at the `sm` breakpoint and up.

Utility                | Description
---------------------- | -----------
`xs`, `sm`, `md`, `lg` | breakpoints
`0`-`12`               | column amount
`of`                   | 1`of`12 meaning you know you'll get a percent and not rhyhtm unit.
`12`                   | column total (default is 12)

```html_example
<pre class="xs-6of12">
  width: 50% for all screen sizes
</pre>
<pre class="md-6of12">
  50% width for medium screens and up
</pre>
```
*/

$fortitude-responsive-column-total: 12 !default;

@include fortitude-breakpoint-classes {
  @for $index from 0 through $fortitude-responsive-column-total {
    $value: fortitude-strip-unit-if-zero(percentage($index / $fortitude-responsive-column-total)) !important;

    &-#{$index}of#{$fortitude-responsive-column-total} {
      width: $value;
    }

    &-offset#{$index}of#{$fortitude-responsive-column-total} {
      margin-left: $value;
    }

    &-push#{$index}of#{$fortitude-responsive-column-total} {
      left: $value;
    }

    &-pull#{$index}of#{$fortitude-responsive-column-total} {
      right: $value;
    }
  }
}
