/*doc
---
title: Floats
name: float
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify how an element floats.
Example: `sm-float-left` will only float the element at the `sm` breakpoint and up.

```html_example
<div class="clearfix">
  <div class="xs-float-left">Float Left</div>
  <div class="xs-float-right">Float Right</div>
</div>
<div class="xs-float-none">Float None</div>
```

*/

@include fortitude-breakpoints {
  .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-float-left {
    float: left !important;
  }

  .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-float-right {
    float: right !important;
  }

  .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-float-none {
    float: none !important;
  }
}
