/*doc
---
title: Responsive Line Height
name: responsive-line-height
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `line-height`.
Example: `sm-inset2` will only set the line-height to `4rem` or `40px` on the element at the `sm` breakpoint and up.

*/

$fortitude-responsive-line-height-unit-total: 2 !default;

@include fortitude-breakpoint-classes {
  @for $index from 0 through $fortitude-responsive-line-height-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-line-height * $index) !important;
    $value-and-half: fortitude-strip-unit-if-zero($fortitude-base-line-height * $index + fortitude-halve($fortitude-base-line-height)) !important;

    &-inset#{$index} {
      line-height: $value;
    }

    &-inseth#{$index} {
      line-height: $value-and-half;
    }
  }
}
