/*doc
---
title: Typography
name: typography
category: Utilities
---
These are the heading sizes that you can use site wide.
The responsive Helpers are optional, and can be used to modify the font-size at different screen sizes. using the `xs`,`sm`,`md`,`lg` breakpoints.

You'll also notice there is a `xs-inset4` applied to the first 2 font-sizes, this is just setting the line-height to `4rem` or `40px` we do this so the text will fit nicely within the vertical rhythm grid.

```html_example
<h1 class="xs-alpha xs-inset4">h1 3.125rem</h1>
<h2 class="xs-beta xs-inset4">h2 2.5rem</h2>
<h3 class="xs-gamma">h3 2rem</h3>
<h4 class="xs-delta">h4 1.6rem</h4>
<h5 class="xs-epsilon">h5 1.28rem</h5>
<h6 class="xs-zeta">h6 1.024rem</h6>
```

*/

$fortitude-responsive-font-sizes: (alpha: fortitude-font-scale(3), beta: fortitude-font-scale(2), gamma: fortitude-font-scale(1), delta: fortitude-font-scale(0), epsilon: fortitude-font-scale(-1), zeta: fortitude-font-scale(-2)) !default;

@include fortitude-breakpoint-classes {
  @each $alias, $size in $fortitude-responsive-font-sizes {
    $value: map-get($fortitude-responsive-font-sizes, $alias) !important;

    &-#{$alias} {
      font-size: $value;
    }
  }
}
