/*doc
---
title: Responsive Line Height
name: responsive-line-height
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `line-height`.
Example: `sm-inset2` will only set the line-height to `2rem` or `20px` on the element at the `sm` breakpoint and up.

Class      | Description
---------- | ------------
`*-inset*` | line height
*/

$fortitude-responsive-line-height-unit-total: 6 !default;

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  @for $index from 0 through $fortitude-responsive-line-height-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    .#{$fortitude-namespace}#{$alias}-inset#{$index} {
      line-height: $value;
    }
  }
}
