/*doc
---
title: Responsive Margin
name: responsive-margin
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `margin`.
Example: `sm-mb2` will only set the bottom margin to `2rem` or `20px` on the element at the `sm` breakpoint and up.


Class     | Description
--------- | -----------------------
`*-m*`    | margin all sides
`*-mtb*`  | margin top and bottom
`*-mrl*`  | margin right and left
`*-mt*`   | margin top
`*-mr*`   | margin right
`*-mb*`   | margin bottom
`*-ml*`   | margin left
`*-m-*`   | negitive margin all sides
`*-mtb-*` | negitive margin top and bottom
`*-mrl-*` | negitive margin right and left
`*-mt-*`  | negitive margin top
`*-mr-*`  | negitive margin right
`*-mb-*`  | negitive margin bottom
`*-ml-*`  | negitive margin left
*/

$fortitude-responsive-margin-unit-total: 10 !default;
$fortitude-responsive-negative-margin-unit-total: 10 !default;

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  @for $index from 0 through $fortitude-responsive-margin-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    .#{$fortitude-namespace}#{$alias}-mt#{$index},
    .#{$fortitude-namespace}#{$alias}-m#{$index},
    .#{$fortitude-namespace}#{$alias}-mtb#{$index} {
      margin-top: $value;
    }

    .#{$fortitude-namespace}#{$alias}-mr#{$index},
    .#{$fortitude-namespace}#{$alias}-m#{$index},
    .#{$fortitude-namespace}#{$alias}-mrl#{$index} {
      margin-right: $value;
    }

    .#{$fortitude-namespace}#{$alias}-mb#{$index},
    .#{$fortitude-namespace}#{$alias}-m#{$index},
    .#{$fortitude-namespace}#{$alias}-mtb#{$index} {
      margin-bottom: $value;
    }

    .#{$fortitude-namespace}#{$alias}-ml#{$index},
    .#{$fortitude-namespace}#{$alias}-m#{$index},
    .#{$fortitude-namespace}#{$alias}-mrl#{$index} {
      margin-left: $value;
    }

  }

  @for $index from 0 through $fortitude-responsive-negative-margin-unit-total {
    $value: fortitude-strip-unit-if-zero(-($fortitude-base-spacing-unit * $index)) !important;

    .#{$fortitude-namespace}#{$alias}-mt-#{$index},
    .#{$fortitude-namespace}#{$alias}-m-#{$index},
    .#{$fortitude-namespace}#{$alias}-mtb-#{$index} {
      margin-top: $value;
    }

    .#{$fortitude-namespace}#{$alias}-mr-#{$index},
    .#{$fortitude-namespace}#{$alias}-m-#{$index},
    .#{$fortitude-namespace}#{$alias}-mrl-#{$index} {
      margin-right: $value;
    }

    .#{$fortitude-namespace}#{$alias}-mb-#{$index},
    .#{$fortitude-namespace}#{$alias}-m-#{$index},
    .#{$fortitude-namespace}#{$alias}-mtb-#{$index} {
      margin-bottom: $value;
    }

    .#{$fortitude-namespace}#{$alias}-ml-#{$index},
    .#{$fortitude-namespace}#{$alias}-m-#{$index},
    .#{$fortitude-namespace}#{$alias}-mrl-#{$index} {
      margin-left: $value;
    }
  }

  .#{$fortitude-namespace}#{$alias}-mrlauto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
