/*doc
---
title: Responsive Width
name: responsive-width
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `width`.
Example: `sm-6of12` will only set the width to `50%` on the element at the `sm` breakpoint and up.

Class                  | Description
---------------------- | -----------
`*-*of12`              | `width` as a percentage
`*-offset*of12`        | `margin-left` as a percentage (offset)
`*-push*of12`          | `left` as a percentage (push)
`*-pull*of12`          | `right` as a percentage (pull)
*/

$fortitude-responsive-column-total: 12 !default;

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");
  @for $index from 0 through $fortitude-responsive-column-total {
    $value: fortitude-strip-unit-if-zero(percentage($index / $fortitude-responsive-column-total)) !important;

    .#{$fortitude-namespace}#{$alias}-#{$index}of#{$fortitude-responsive-column-total} {
      width: $value;
    }

    .#{$fortitude-namespace}#{$alias}-offset#{$index}of#{$fortitude-responsive-column-total} {
      margin-left: $value;
    }

    .#{$fortitude-namespace}#{$alias}-push#{$index}of#{$fortitude-responsive-column-total} {
      left: $value;
    }

    .#{$fortitude-namespace}#{$alias}-pull#{$index}of#{$fortitude-responsive-column-total} {
      right: $value;
    }
  }
}
