/*doc
---
title: Responsive Display
name: responsive-display
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify how an elements is displayed.
Example: `sm-none` will only hide the element at the `sm` breakpoint and up.

Class            | Description
---------------- | ------------------------
`*-none`         | display as none
`*-inline`       | display as inline
`*-inline-block` | display as inline-block
`*-block`        | display as block
`*-table`        | display as table
`*-table-cell`   | display as table cell
`*-table-column` | display as table column
`*-inherit`      | display as inherit
*/

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  .#{$fortitude-namespace}#{$alias}-none {
    display: none !important;
  }

  .#{$fortitude-namespace}#{$alias}-inline {
    display: inline !important;
  }

  .#{$fortitude-namespace}#{$alias}-inline-block {
    display: inline-block !important;
  }

  .#{$fortitude-namespace}#{$alias}-block {
    display: block !important;
  }

  .#{$fortitude-namespace}#{$alias}-table {
    display: table !important;
  }

  .#{$fortitude-namespace}#{$alias}-table-cell {
    display: table-cell !important;
  }

  .#{$fortitude-namespace}#{$alias}-table-column {
    display: table-column !important;
  }

  .#{$fortitude-namespace}#{$alias}-inherit {
    display: inherit !important;
  }
}
