/*doc
---
title: Floats
name: float
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify how an element floats.
Example: `sm-float-left` will only float the element at the `sm` breakpoint and up.

Class           | Description
--------------- | ------------
`*-float-left`  | float left
`*-float-right` | float right
`*-float-none`  | float none
*/

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  .#{$fortitude-namespace}#{$alias}-float-left {
    float: left !important;
  }

  .#{$fortitude-namespace}#{$alias}-float-right {
    float: right !important;
  }

  .#{$fortitude-namespace}#{$alias}-float-none {
    float: none !important;
  }
}
