/*doc
---
title: Responsive Vertical Align
name: responsive-valign
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify how an elements is displayed.
Example: `sm-valign-middle` will only align the element to the middle at the `sm` breakpoint and up.

Class                | Description
-------------------- | ----------------------------
`*-valign-baseline`  | baseline vertical alignment
`*-valign-bottom`    | bottom vertical alignment
`*-valign-middle`    | middle vertical alignment
`*-valign-top`       | top vertical alignment

*/

@include fortitude-breakpoints {
  $alias: map-get($fortitude-tmp, "current-breakpoint-alias");

  .#{$fortitude-namespace}#{$alias}-valign-baseline {
    vertical-align: baseline !important;
  }

  .#{$fortitude-namespace}#{$alias}-valign-bottom {
    vertical-align: bottom !important;
  }

  .#{$fortitude-namespace}#{$alias}-valign-middle {
    vertical-align: middle !important;
  }

  .#{$fortitude-namespace}#{$alias}-valign-top {
    vertical-align: top !important;
  }
}
