/*doc
---
title: Responsive Margin
name: responsive-margin
category: Utilities
---
Using the `xs`,`sm`,`md`,`lg` breakpoints you can modify an elements `margin`.
Example: `sm-mb2` will only set the bottom margin to `4rem` or `40px` on the element at the `sm` breakpoint and up.


Class                                    | Description
---------------------------------------- | -----------
`xs`, `sm`, `md`, `lg`                   | breakpoints
`m`, `mtb`, `mrl`, `mt`, `mr`, `mb` `ml` | `margin` &mdash; `t = top`, `r = right`, `b = bottom`, `l = left`
(0-8)                                    | amount of spacing

```html_example
<pre class="xs-mtbh1">
  margin-top: 2rem
  margin-bottom: 2rem
  all screen sizes
</pre>
<pre class="sm-mrl1 md-mrl2 lg-mrl3">
  margin for larger screens
</pre>
```
*/

$fortitude-responsive-margin-unit-total: 10 !default;
$fortitude-responsive-negative-margin-unit-total: 10 !default;

@include fortitude-breakpoint-classes {
  @for $index from 0 through $fortitude-responsive-margin-unit-total {
    $value: fortitude-strip-unit-if-zero($fortitude-base-spacing-unit * $index) !important;

    &-mt#{$index},
    &-m#{$index},
    &-mtb#{$index} {
      margin-top: $value;
    }

    &-mr#{$index},
    &-m#{$index},
    &-mrl#{$index} {
      margin-right: $value;
    }

    &-mb#{$index},
    &-m#{$index},
    &-mtb#{$index} {
      margin-bottom: $value;
    }

    &-ml#{$index},
    &-m#{$index},
    &-mrl#{$index} {
      margin-left: $value;
    }

  }

  @for $index from 0 through $fortitude-responsive-negative-margin-unit-total {
    $value: fortitude-strip-unit-if-zero(-($fortitude-base-spacing-unit * $index)) !important;

    &-mt-#{$index},
    &-m-#{$index},
    &-mtb-#{$index} {
      margin-top: $value;
    }

    &-mr-#{$index},
    &-m-#{$index},
    &-mrl-#{$index} {
      margin-right: $value;
    }

    &-mb-#{$index},
    &-m-#{$index},
    &-mtb-#{$index} {
      margin-bottom: $value;
    }

    &-ml-#{$index},
    &-m-#{$index},
    &-mrl-#{$index} {
      margin-left: $value;
    }
  }

  &-mrlauto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
