@import "fortitude/api/tools/functions";
// color palette

$fortitude-colors: (
  "black":         #2D2D2E,
  "gray-darker":   #59595C,
  "gray-dark":     #6F6F72,
  "gray":          #C8C8CE,
  "gray-light":    #E2E2E8,
  "gray-lighter":  #F9F9FA,
  "white":         #FFFFFF,
  "blue":          #1E84E4,
  "green":         #18D985,
  "teal":          #67E5C8,
  "yellow":        #F1D730,
  "red":           #EB474C
) !default;

$fortitude-grays: (
  "black":         map-get($fortitude-colors, "black"),
  "gray-darker":   map-get($fortitude-colors, "gray-darker"),
  "gray-dark":     map-get($fortitude-colors, "gray-dark"),
  "gray":          map-get($fortitude-colors, "gray"),
  "gray-light":    map-get($fortitude-colors, "gray-light"),
  "gray-lighter":  map-get($fortitude-colors, "gray-lighter"),
  "white":         map-get($fortitude-colors, "white")
) !default;

// semantic color names

$fortitude-color-intents: (
  "primary": map-get($fortitude-colors, "blue"),
  "success": map-get($fortitude-colors, "green"),
  "info":    map-get($fortitude-colors, "teal"),
  "warning": map-get($fortitude-colors, "yellow"),
  "danger":  map-get($fortitude-colors, "red"),
  "inverse": map-get($fortitude-colors, "black")
) !default;

// intent color names

$fortitude-badge-intents: (
  "default": (
    "background-color": map-get($fortitude-colors, "gray-lighter"),
    "border-color": map-get($fortitude-colors, "gray-lighter"),
    "color": map-get($fortitude-colors, "black")
  ),
  "primary": (
    "background-color": map-get($fortitude-color-intents, "primary"),
    "border-color": map-get($fortitude-color-intents, "primary"),
    "color": map-get($fortitude-colors, "white")
  ),
  "success": (
    "background-color": map-get($fortitude-color-intents, "success"),
    "border-color": map-get($fortitude-color-intents, "success"),
    "color": map-get($fortitude-colors, "white")
  ),
  "info": (
    "background-color": map-get($fortitude-color-intents, "info"),
    "border-color": map-get($fortitude-color-intents, "info"),
    "color": map-get($fortitude-colors, "white")
  ),
  "warning": (
    "background-color": map-get($fortitude-color-intents, "warning"),
    "border-color": map-get($fortitude-color-intents, "warning"),
    "color": map-get($fortitude-colors, "white")
  ),
  "danger": (
    "background-color": map-get($fortitude-color-intents, "danger"),
    "border-color": map-get($fortitude-color-intents, "danger"),
    "color": map-get($fortitude-colors, "white")
  ),
  "inverse": (
    "background-color": map-get($fortitude-colors, "black"),
    "border-color": map-get($fortitude-colors, "gray-darker"),
    "color": map-get($fortitude-colors, "white")
  )
) !default;

$fortitude-box-intents: (
  "default": (
    "background-color": map-get($fortitude-colors, "gray-lighter"),
    "border-color": map-get($fortitude-colors, "gray-lighter"),
    "color": map-get($fortitude-colors, "black")
  ),
  "primary": (
    "background-color": map-get($fortitude-color-intents, "primary"),
    "border-color": map-get($fortitude-color-intents, "primary"),
    "color": map-get($fortitude-colors, "white")
  ),
  "success": (
    "background-color": map-get($fortitude-color-intents, "success"),
    "border-color": map-get($fortitude-color-intents, "success"),
    "color": map-get($fortitude-colors, "white")
  ),
  "info": (
    "background-color": map-get($fortitude-color-intents, "info"),
    "border-color": map-get($fortitude-color-intents, "info"),
    "color": map-get($fortitude-colors, "white")
  ),
  "warning": (
    "background-color": map-get($fortitude-color-intents, "warning"),
    "border-color": map-get($fortitude-color-intents, "warning"),
    "color": map-get($fortitude-colors, "white")
  ),
  "danger": (
    "background-color": map-get($fortitude-color-intents, "danger"),
    "border-color": map-get($fortitude-color-intents, "danger"),
    "color": map-get($fortitude-colors, "white")
  ),
  "inverse": (
    "background-color": map-get($fortitude-color-intents, "inverse"),
    "border-color": map-get($fortitude-colors, "gray-darker"),
    "color": map-get($fortitude-colors, "white")
  )
) !default;

$fortitude-button-intents: (
  "default": (
    "initial": (
      "background-color": map-get($fortitude-colors, "gray-lighter"),
      "border-color": map-get($fortitude-colors, "gray-lighter"),
      "color": map-get($fortitude-colors, "black")
    ),
    "hover": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-colors, "white"),
      "color": map-get($fortitude-colors, "black")
    ),
    "active": (
      "background-color": map-get($fortitude-colors, "gray-light"),
      "border-color": map-get($fortitude-colors, "gray-light"),
      "color": map-get($fortitude-colors, "black")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "gray-lighter"),
      "border-color": map-get($fortitude-colors, "black"),
      "color": map-get($fortitude-colors, "black")
    )
  ),
  "primary": (
    "initial": (
      "background-color": map-get($fortitude-color-intents, "primary"),
      "border-color": map-get($fortitude-color-intents, "primary"),
      "color": map-get($fortitude-colors, "white")
    ),
    "hover": (
      "background-color": fortitude-tint(map-get($fortitude-color-intents, "primary"), 20%),
      "border-color": fortitude-tint(map-get($fortitude-color-intents, "primary"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "active": (
      "background-color": fortitude-shade(map-get($fortitude-color-intents, "primary"), 20%),
      "border-color": fortitude-shade(map-get($fortitude-color-intents, "primary"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-color-intents, "primary"),
      "color": map-get($fortitude-color-intents, "primary"),
    )
  ),
  "success": (
    "initial": (
      "background-color": map-get($fortitude-color-intents, "success"),
      "border-color": map-get($fortitude-color-intents, "success"),
      "color": map-get($fortitude-colors, "white")
    ),
    "hover": (
      "background-color": fortitude-tint(map-get($fortitude-color-intents, "success"), 20%),
      "border-color": fortitude-tint(map-get($fortitude-color-intents, "success"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "active": (
      "background-color": fortitude-shade(map-get($fortitude-color-intents, "success"), 20%),
      "border-color": fortitude-shade(map-get($fortitude-color-intents, "success"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-color-intents, "success"),
      "color": map-get($fortitude-color-intents, "success"),
    )
  ),
  "info": (
    "initial": (
      "background-color": map-get($fortitude-color-intents, "info"),
      "border-color": map-get($fortitude-color-intents, "info"),
      "color": map-get($fortitude-colors, "white")
    ),
    "hover": (
      "background-color": fortitude-tint(map-get($fortitude-color-intents, "info"), 20%),
      "border-color": fortitude-tint(map-get($fortitude-color-intents, "info"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "active": (
      "background-color": fortitude-shade(map-get($fortitude-color-intents, "info"), 20%),
      "border-color": fortitude-shade(map-get($fortitude-color-intents, "info"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-color-intents, "info"),
      "color": map-get($fortitude-color-intents, "info"),
    )
  ),
  "warning": (
    "initial": (
      "background-color": map-get($fortitude-color-intents, "warning"),
      "border-color": map-get($fortitude-color-intents, "warning"),
      "color": map-get($fortitude-colors, "white")
    ),
    "hover": (
      "background-color": fortitude-tint(map-get($fortitude-color-intents, "warning"), 20%),
      "border-color": fortitude-tint(map-get($fortitude-color-intents, "warning"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "active": (
      "background-color": fortitude-shade(map-get($fortitude-color-intents, "warning"), 20%),
      "border-color": fortitude-shade(map-get($fortitude-color-intents, "warning"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-color-intents, "warning"),
      "color": map-get($fortitude-color-intents, "warning"),
    )
  ),
  "danger": (
    "initial": (
      "background-color": map-get($fortitude-color-intents, "danger"),
      "border-color": map-get($fortitude-color-intents, "danger"),
      "color": map-get($fortitude-colors, "white")
    ),
    "hover": (
      "background-color": fortitude-tint(map-get($fortitude-color-intents, "danger"), 20%),
      "border-color": fortitude-tint(map-get($fortitude-color-intents, "danger"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "active": (
      "background-color": fortitude-shade(map-get($fortitude-color-intents, "danger"), 20%),
      "border-color": fortitude-shade(map-get($fortitude-color-intents, "danger"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-color-intents, "danger"),
      "color": map-get($fortitude-color-intents, "danger"),
    )
  ),
  "inverse": (
    "initial": (
      "background-color": map-get($fortitude-color-intents, "inverse"),
      "border-color": map-get($fortitude-color-intents, "inverse"),
      "color": map-get($fortitude-colors, "white")
    ),
    "hover": (
      "background-color": fortitude-tint(map-get($fortitude-color-intents, "inverse"), 20%),
      "border-color": fortitude-tint(map-get($fortitude-color-intents, "inverse"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "active": (
      "background-color": fortitude-shade(map-get($fortitude-color-intents, "inverse"), 20%),
      "border-color": fortitude-shade(map-get($fortitude-color-intents, "inverse"), 20%),
      "color": map-get($fortitude-colors, "white")
    ),
    "disabled": (
      "background-color": map-get($fortitude-colors, "white"),
      "border-color": map-get($fortitude-color-intents, "inverse"),
      "color": map-get($fortitude-color-intents, "inverse"),
    )
  )
) !default;

$fortitude-flashbar-intents: (
  "default": (
    "background-color": map-get($fortitude-colors, "gray-lighter"),
    "border-color": map-get($fortitude-colors, "gray-lighter"),
    "color": map-get($fortitude-colors, "black")
  ),
  "primary": (
    "background-color": map-get($fortitude-color-intents, "primary"),
    "border-color": map-get($fortitude-color-intents, "primary"),
    "color": map-get($fortitude-colors, "white")
  ),
  "success": (
    "background-color": map-get($fortitude-color-intents, "success"),
    "border-color": map-get($fortitude-color-intents, "success"),
    "color": map-get($fortitude-colors, "white")
  ),
  "info": (
    "background-color": map-get($fortitude-color-intents, "info"),
    "border-color": map-get($fortitude-color-intents, "info"),
    "color": map-get($fortitude-colors, "white")
  ),
  "warning": (
    "background-color": map-get($fortitude-color-intents, "warning"),
    "border-color": map-get($fortitude-color-intents, "warning"),
    "color": map-get($fortitude-colors, "white")
  ),
  "danger": (
    "background-color": map-get($fortitude-color-intents, "danger"),
    "border-color": map-get($fortitude-color-intents, "danger"),
    "color": map-get($fortitude-colors, "white")
  ),
  "inverse": (
    "background-color": map-get($fortitude-colors, "black"),
    "border-color": map-get($fortitude-colors, "gray-darker"),
    "color": map-get($fortitude-colors, "white")
  )
) !default;

$fortitude-wings-intents: (
  "default": (
    "background-color": map-get($fortitude-colors, "gray-lighter")
  ),
  "primary": (
    "background-color": map-get($fortitude-color-intents, "primary")
  ),
  "success": (
    "background-color": map-get($fortitude-color-intents, "success")
  ),
  "info": (
    "background-color": map-get($fortitude-color-intents, "info")
  ),
  "warning": (
    "background-color": map-get($fortitude-color-intents, "warning")
  ),
  "danger": (
    "background-color": map-get($fortitude-color-intents, "danger")
  ),
  "inverse": (
    "background-color": map-get($fortitude-color-intents, "inverse")
  )
) !default;
