$navigationbar-height: 6rem !default;
$fortitude-responsive-font-sizes: (alpha: 5.5rem, beta: 3.0rem, gamma: 2.4rem, delta: 1.8rem, epsilon: 1.4rem, zeta: 1.0rem) !default;
$fortitude-responsive-line-height-unit-total: 3 !default;
$fortitude-base-font-size: 1.6rem !default;
$fortitude-enable-layout--large: true !default;
