$primary-color:         #5BD4C0;
$base-text-color:       #111111;
$base-background-color: #fdfdfd;

$gray-color:            #828282;
$gray-color-light:      lighten($gray-color, 40%);
$gray-color-dark:       darken($gray-color, 25%);

$white-color:           #FFFFFF;
$black-color:           #202022;
$red-color:             #DE323B;