/*doc
---
title: Bare List
name: bare-list
category: Objects
---
Bare Lists are unstyled lists.
*/

$fortitude-enable-bare-list: true;

.#{$fortitude-namespace}bare-list {
  @include fortitude-bare-list;
}
