/*doc
---
title: Block List
name: block-list
category: Objects
---
The Block List object creates blocky list items out of a `ul` or `ol`.
*/

$fortitude-enable-block-list: true;

.#{$fortitude-namespace}block-list {
  @include fortitude-block-list;
}

.#{$fortitude-namespace}block-list__item {
  @include fortitude-block-list__item;
}

@if $fortitude-enable-block-list--small == true {
  /**
   * Small block-lists.
  **/
  .#{$fortitude-namespace}block-list--small {
    > .#{$fortitude-namespace}block-list__item {
      @include fortitude-block-list__item--small;
    }
  }
}

@if $fortitude-enable-block-list--large == true {
  /**
   * Large block-lists.
  **/
  .#{$fortitude-namespace}block-list--large {
    > .#{$fortitude-namespace}block-list__item {
      @include fortitude-block-list__item--large;
    }
  }
}
