/*doc
---
title: Container
name: container
category: Structure
---
Containers are used to wrap site contents and house the grid system. You may choose one of two containers to use in your projects. Note that, due to padding and more, neither container is nestable.

Class           | Description
--------------- | -----------------
.container      | A responsive fixed width container.

```html_example
<div class="container">
  &hellip;
</div>
```
*/

$fortitude-enable-container: true;

.#{$fortitude-namespace}container {
  @include fortitude-container;
}

@if $fortitude-enable-container--fixed-top {
  .#{$fortitude-namespace}container--fixed-top {
    @include fortitude-container--fixed-top;
  }
}
