/*doc
---
title: Flashbar
name: flashbar
category: Objects
---
Flashbars are used for information that can be dismissed
*/

$fortitude-enable-flashbar: true;

.#{$fortitude-namespace}flashbar {
  @include fortitude-flashbar;
}

.#{$fortitude-namespace}flashbar--closed {
  @include fortitude-flashbar--closed;
}

.#{$fortitude-namespace}flashbar__close {
  @include fortitude-flashbar__close;
}
