/*doc
---
title: Flag
name: flag
category: Structure
---
The flag object mostly the same thing as a [media object][media] except it can align the description to the top or bottom of itself.

Only use a flag object when a media object can't do the job.

Class            | Description
---------------- | ------------------------------------------------------------------
`.flag`          | Default gutters and renders content to the middle
`.flag--top`     | Default gutters and renders content to the top
`.flag--bottom`  | Default gutters and renders content to the bottom
`.flag--reverse` | Render children in reverse order
`.xs-flag`       | Collapsed at all screen sizes
`.sm-flag`       | Collapsed at small screens and up
`.md-flag`       | Collapsed at medium screens and up
`.lg-flag`       | Collapsed at large screens

### Default
```html_preview_example
<div class="flag">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    <p class="xs-pl1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Top
```html_preview_example
<div class="flag flag--top">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    <p class="xs-pl1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Bottom
```html_preview_example
<div class="flag flag--bottom">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    <p class="xs-pl1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Reverse
```html_preview_example
<div class="flag flag--reverse">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Iste magnam facilis quas,
    eos unde illum rem dicta.
    Atque repudiandae,
    numquam laudantium quas voluptas,
    facilis? Illo excepturi nihil quidem a esse!
  </div>
</div>
```

## Responsive Flags

### Collapse at xs
```html_preview_example
<div class="flag xs-flag">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    <p class="xs-pl1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Collapse at sm
```html_preview_example
<div class="flag sm-flag">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Iste magnam facilis quas,
    eos unde illum rem dicta.
    Atque repudiandae,
    numquam laudantium quas voluptas,
    facilis? Illo excepturi nihil quidem a esse!
  </div>
</div>
```

### Collapse at md
```html_preview_example
<div class="flag md-flag">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Iste magnam facilis quas,
    eos unde illum rem dicta.
    Atque repudiandae,
    numquam laudantium quas voluptas,
    facilis? Illo excepturi nihil quidem a esse!
  </div>
</div>
```

### Collapse at lg
```html_preview_example
<div class="flag lg-flag">
  <div class="flag__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="flag__body">
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Iste magnam facilis quas,
    eos unde illum rem dicta.
    Atque repudiandae,
    numquam laudantium quas voluptas,
    facilis? Illo excepturi nihil quidem a esse!
  </div>
</div>
```
*/

$fortitude-enable-flag: true;

.#{$fortitude-namespace}flag {
  @include fortitude-flag;
}

/**
 * Items within a flag object. There should only ever be one of each.
**/

/**
 * Flag images have a space between them and the body of the object.
**/
.#{$fortitude-namespace}flag__object {
  @include fortitude-flag__object;
}

.#{$fortitude-namespace}flag__object > * {
  @include fortitude-flag__object__content;
}

.#{$fortitude-namespace}flag__body {
  @include fortitude-flag__body;
}

@if $fortitude-enable-flag--top {
  /**
   * Vertically top aligned flag objects.
  **/
  .#{$fortitude-namespace}flag--top {
    .#{$fortitude-namespace}flag__object {
      @include fortitude-flag--top__object;
    }
    .#{$fortitude-namespace}flag__body {
      @include fortitude-flag--top__body;
    }
  }
}

@if $fortitude-enable-flag--bottom {
  /**
   * Vertically bottom aligned flag objects.
  **/
  .#{$fortitude-namespace}flag--bottom {
    .#{$fortitude-namespace}flag__object {
      @include fortitude-flag--bottom__object;
    }
    .#{$fortitude-namespace}flag__body {
      @include fortitude-flag--bottom__body;
    }
  }
}

@if $fortitude-enable-flag--reverse {
  /**
   * Reversed flag objects have their image-content to the right, and text-content
   * to the left.
  **/
  .#{$fortitude-namespace}flag--reverse {
    @include fortitude-flag--reverse;
    > .#{$fortitude-namespace}flag__object {
      @include fortitude-flag--reverse__object;
    }
    > .#{$fortitude-namespace}flag__body {
      @include fortitude-flag--reverse__body;
    }
  }
}

@if $fortitude-enable-flag--responsive {
  @include fortitude-breakpoints {
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-flag {
      @include fortitude-flag--responsive;

      > .#{$fortitude-namespace}flag__object {
        @include fortitude-flag--responsive__object;
      }

      > .#{$fortitude-namespace}flag__body {
        @include fortitude-flag--responsive__body;
      }
    }
  }
}
