/*doc
---
title: Flag
name: flag
category: Structure
---
The flag object mostly the same thing as a [media object][media] except it can align the description to the top or bottom of itself.
Only use a flag object when a media object can't do the job.

Class             | Description
----------------- | -----------------
.flag             | Flag object has default gutters and renders content to the middle
.flag--top        | Flag object has default gutters and renders content to the top
.flag--bottom     | Flag object has default gutters and renders content to the bottom
.flag--flush      | Flag object has no gutters and renders content to the middle
.flag--small      | Flag object has small gutters and renders content to the middle
.flag--large      | Flag object has large gutters and renders content to the middle
.flag--rev        | Flag object and flag body render in reverse order
.xs-flag          | Flag object is collapsed at all screen sizes
.sm-flag          | Flag object is collapsed at small screens and up
.md-flag          | Flag object is collapsed at medium screens and up
.lg-flag          | Flag object is collapsed at large screens

### Default
Mouse over the tiles to see how the elements react depending on their size.

```html_example
<div class="flag">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```

### Top
```html_example
<div class="flag flag--top">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```

### Bottom
```html_example
<div class="flag flag--bottom">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```

### Flush
```html_example
<div class="flag flag--flush">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```

### Small
```html_example
<div class="flag flag--small">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```

### Large
```html_example
<div class="flag flag--large">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```

### Reverse
```html_example
<div class="flag flag--rev">
  <div class="flag__object">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
  <div class="flag__body">
    <div class="box box--styleguide box--styleguide--grow-on-hover"></div>
  </div>
</div>
```
*/

$fortitude-enable-flag: true;

.#{$fortitude-namespace}flag {
  @include fortitude-flag;
}

/**
 * Items within a flag object. There should only ever be one of each.
**/

/**
 * Flag images have a space between them and the body of the object.
**/
.#{$fortitude-namespace}flag__object {
  @include fortitude-flag__object;
}

.#{$fortitude-namespace}flag__object > img,
.#{$fortitude-namespace}flag__object > video {
  @include fortitude-flag__object__content;
}

.#{$fortitude-namespace}flag__body {
  @include fortitude-flag__body;
}

@if $fortitude-enable-flag--top {
  /**
   * Vertically top aligned flag objects.
  **/
  .#{$fortitude-namespace}flag--top {
    .#{$fortitude-namespace}flag__object {
      @include fortitude-flag__object--top;
    }
    .#{$fortitude-namespace}flag__body {
      @include fortitude-flag__body--top;
    }
  }
}

@if $fortitude-enable-flag--bottom {
  /**
   * Vertically bottom aligned flag objects.
  **/
  .#{$fortitude-namespace}flag--bottom {
    .#{$fortitude-namespace}flag__object {
      @include fortitude-flag__object--bottom;
    }
    .#{$fortitude-namespace}flag__body {
      @include fortitude-flag__body--bottom;
    }
  }
}

@if $fortitude-enable-flag--flush {
  /**
   * Flush flag objects have no space between the image- and text-content.
  **/
  .#{$fortitude-namespace}flag--flush {
    > .#{$fortitude-namespace}flag__object {
      @include fortitude-flag__object--flush;
    }
  }
}

@if $fortitude-enable-flag--small {
  /**
   * Small flags.
  **/
  .#{$fortitude-namespace}flag--small {
    > .#{$fortitude-namespace}flag__object {
      @include fortitude-flag__object--small;
    }
  }
}

@if $fortitude-enable-flag--large {
  /**
   * Large flags.
  **/
  .#{$fortitude-namespace}flag--large {
    > .#{$fortitude-namespace}flag__object {
      @include fortitude-flag__object--large;
    }
  }
}

@if $fortitude-enable-flag--rev {
  /**
   * Reversed flag objects have their image-content to the right, and text-content
   * to the left.
  **/
  .#{$fortitude-namespace}flag--rev {
    @include fortitude-flag--rev;
    > .#{$fortitude-namespace}flag__object {
      @include fortitude-flag__object--rev;
    }
    > .#{$fortitude-namespace}flag__body {
      @include fortitude-flag__body--rev;
    }

    @if $fortitude-enable-flag--small {
      /**
       * Reversed Small flags.
      **/
      &.#{$fortitude-namespace}flag--small {
        > .#{$fortitude-namespace}flag__object {
          @include fortitude-flag__object--rev--small;
        }
      }
    }

    @if $fortitude-enable-flag--large {
      /**
       * Large reversed flags.
      **/
      &.#{$fortitude-namespace}flag--large {
        > .#{$fortitude-namespace}flag__object {
          @include fortitude-flag__object--rev--large;
        }
      }
    }

  }
}

@if $fortitude-enable-flag--responsive {
  .#{$fortitude-namespace}flag--responsive {
    @include fortitude-flag--responsive {
      > .#{$fortitude-namespace}flag__object {
        @include fortitude-flag__object--responsive;
      }
      > .#{$fortitude-namespace}flag__body {
        @include fortitude-flag__body--responsive;
      }
      @if $fortitude-enable-flag--small {
        &.#{$fortitude-namespace}flag--small {
          > .#{$fortitude-namespace}flag__object {
            @include fortitude-flag__object--responsive--small;
          }
        }
      }
      @if $fortitude-enable-flag--large {
        &.#{$fortitude-namespace}flag--large {
          > .#{$fortitude-namespace}flag__object {
            @include fortitude-flag__object--responsive--large;
          }
        }
      }
    }
  }
}
