/*doc
---
title: Inline List
name: inline-list
category: Objects
---
The `inline-list` object is used for horizontal lists.
*/

$fortitude-enable-inline-list: true;

.#{$fortitude-namespace}inline-list {
  @include fortitude-inline-list;
}

.#{$fortitude-namespace}inline-list__item {
  @include fortitude-inline-list__item;
}
