/*doc
---
title: Inline List
name: inline-list
category: Objects
---
The `inline-list` object is used for horizontal lists.

```html_preview_example
<ul class="inline-list">
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
</ul>
```
*/

$fortitude-enable-inline-list: true;

.#{$fortitude-namespace}inline-list {
  @include fortitude-inline-list;
}
