/*doc
---
title: Layout
name: layout
category: Structure
---
Used for content that needs a grid default gutter width is `2rem` or `20px`

Class           | Description
--------------- | -----------------
.layout         | Layout items are aligned to the vertical tops of each other
.layout--middle | Layout items are aligned to the vertical centers of each other
.layout--bottom | Layout items are aligned to the vertical bottoms of each other
.layout--small  | Layout items have small gutters
.layout--large  | Layout items have large gutters
.layout--flush  | Layout items have no gutters
.layout--rev    | Layout items are rendered in reverse order
.layout--center | Layout items are rendered from the center outward
.layout--right  | Layout items are rendered from the right hand side

```html_example
<div class="layout xs-mb1">
  <div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div><div class="layout__item md-1of12">
    <div class="box box--primary">1 of 12</div>
  </div>
</div>

<div class="layout xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>

<!-- layout middle -->
<div class="layout layout--middle xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary xs-2">6 of 12</div>
  </div>
</div>

<!-- layout bottom -->
<div class="layout layout--bottom xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>

<!-- layout flush -->
<div class="layout layout--flush xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>

<!-- layout small -->
<div class="layout layout--small xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>

<!-- layout large -->
<div class="layout layout--large xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>

<!-- layout rev -->
<div class="layout layout--rev xs-mb1">
  <div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div><div class="layout__item md-6of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>

<!-- layout center -->
<div class="layout layout--center xs-mb1">
  <div class="layout__item md-4of12">
    <div class="box box--primary">4 of 12</div>
  </div><div class="layout__item md-4of12">
    <div class="box box--primary">4 of 12</div>
  </div>
</div>

<!-- layout right -->
<div class="layout layout--right xs-mb1">
  <div class="layout__item md-4of12">
    <div class="box box--primary">4 of 12</div>
  </div><div class="layout__item md-4of12">
    <div class="box box--primary">6 of 12</div>
  </div>
</div>
```
*/

$fortitude-enable-layout: true;

.#{$fortitude-namespace}layout {
  @include fortitude-layout;
}

.#{$fortitude-namespace}layout__item {
  @include fortitude-layout__item;
}

@if $fortitude-enable-layout--small == true {
  /**
   * Layouts with small gutters.
  **/
  .#{$fortitude-namespace}layout--small {
    @include fortitude-layout--small;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--small;
    }
  }
}

@if $fortitude-enable-layout--large == true {
  /**
   * Layouts with large gutters.
  **/
  .#{$fortitude-namespace}layout--large {
    @include fortitude-layout--large;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--large;
    }
  }
}

@if $fortitude-enable-layout--flush == true {
  /**
   * Layouts with no gutters.
  **/
  .#{$fortitude-namespace}layout--flush {
    @include fortitude-layout--flush;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--flush;
    }
  }
}

@if $fortitude-enable-layout--rev == true {
  /**
   * Reversed rendered order of layout items, e.g. items 1, 2, 3, 4 in your
   * markup will display in order 4, 3, 2, 1 on your page.
  **/
  .#{$fortitude-namespace}layout--rev {
    @include fortitude-layout--rev;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--rev;
    }
  }
}

@if $fortitude-enable-layout--middle == true {
  /**
   * Align layout items to the vertical centers of each other.
  **/
  .#{$fortitude-namespace}layout--middle {
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--middle;
    }
  }
}

@if $fortitude-enable-layout--bottom == true {
  /**
   * Align layout items to the vertical bottoms of each other.
  **/
  .#{$fortitude-namespace}layout--bottom {
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--bottom;
    }
  }
}

@if $fortitude-enable-layout--right == true {
  /**
   * Make the layout items fill up from the right hand side.
  **/
  .#{$fortitude-namespace}layout--right {
    @include fortitude-layout--right;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--right;
    }
  }
}

@if $fortitude-enable-layout--center == true {
  /**
   * Make the layout items fill up from the center outward.
  **/
  .#{$fortitude-namespace}layout--center {
    @include fortitude-layout--center;
    > .#{$fortitude-namespace}layout__item {
      @include fortitude-layout__item--center;
    }
  }
}
