/*doc
---
title: Media
name: media
category: Structure
---
The `media` object is an image or video on one side, with descriptive content on another side.
The content area can contain any other objects. In most cases, it contains text, but we could put lists, grids, or even other media objects inside.

`.media` sets a default gutter between `.media__object` and `.media__body`. The default size for this gutter is `2rem` or `20px`.

If you need to align your content in the middle or the bottom of itself then consider using a [flag object][flag].

Class             | Description
----------------- | -----------------
`.media`          | Default gutters
`.media--reverse` | Children are rendered in reverse order
`.xs-media`       | Collapsed on all screen sizes
`.sm-media`       | Collapsed on small screens and up
`.md-media`       | Collapsed on medium screens and up
`.lg-media`       | Collapsed only on large screens

### Default
```html_preview_example
<div class="media">
  <div class="media__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="media__body">
    <p class="xs-pl1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Reverse
```html_preview_example
<div class="media media--reverse">
  <div class="media__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="media__body">
    Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.
    Iste magnam facilis quas,
    eos unde illum rem dicta.
    Atque repudiandae,
    numquam laudantium quas voluptas,
    facilis? Illo excepturi nihil quidem a esse!
  </div>
</div>
```

## Responsive Media Objects

### Collapse at xs
```html_preview_example
<div class="media xs-media">
  <div class="media__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="media__body">
    <p class="xs-pt1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Collapse at sm
```html_preview_example
<div class="media sm-media">
  <div class="media__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="media__body">
    <p class="xs-pl1 sm-pl0 sm-pt1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Collapse at md
```html_preview_example
<div class="media md-media">
  <div class="media__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="media__body">
    <p class="xs-pl1 md-pl0 md-pt1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```

### Collapse at lg
```html_preview_example
<div class="media lg-media">
  <div class="media__object">
    <img src="//placehold.it/150" alt="placeholder" />
  </div>
  <div class="media__body">
    <p class="xs-pl1 lg-pl0 lg-pt1">
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
      Iste magnam facilis quas,
      eos unde illum rem dicta.
      Atque repudiandae,
      numquam laudantium quas voluptas,
      facilis? Illo excepturi nihil quidem a esse!
    </p>
  </div>
</div>
```
*/

$fortitude-enable-media: true;

.#{$fortitude-namespace}media {
  @include fortitude-media;
}

.#{$fortitude-namespace}media__object {
  @include fortitude-media__object;
}

.#{$fortitude-namespace}media__body {
  @include fortitude-media__body;
}

@if $fortitude-enable-media--reverse {
  /**
   * Reversed image location (right instead of left). Extends `.media`.
  **/
  .#{$fortitude-namespace}media--reverse {
    > .#{$fortitude-namespace}media__object {
      @include fortitude-media--reverse__object;
    }
  }
}

@if $fortitude-enable-media--responsive {
  @include fortitude-breakpoints {
    .#{$fortitude-namespace}#{map-get($fortitude-tmp, "current-breakpoint-alias")}-media {
      > .#{$fortitude-namespace}media__object {
        @include fortitude-media--responsive__object;
      }
    }
  }
}
