/*doc
---
title: Modal
name: modal
category: Objects
---
The `modal` object is used to make users focus on a specific piece of content.
*/

$fortitude-enable-modal: true;

.#{$fortitude-namespace}modal {
  @include fortitude-modal;
}

.#{$fortitude-namespace}modal--is-active {
  @include fortitude-modal--is-active;
}

.#{$fortitude-namespace}modal__content {
  @include fortitude-modal__content;
}
