/*doc
---
title: Tabs Navigation
name: tabs-navigation
category: Objects
---
The `tabs-navigation` object is used for horizontal tab navigations.

### Default
```html_example
<ul class="tabs-navigation">
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">One</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Two</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Three</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Four</a>
  </li>
</ul>
```

### Fixed
```html_example
<ul class="tabs-navigation tabs-navigation--fixed">
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">One</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Two</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Three</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Four</a>
  </li>
</ul>
```
*/

$fortitude-enable-tabs-navigation: true;

.#{$fortitude-namespace}tabs-navigation {
  @include fortitude-tabs-navigation;
}

.#{$fortitude-namespace}tabs-navigation--fixed {
  @include fortitude-tabs-navigation--fixed;
}

.#{$fortitude-namespace}tabs-navigation__item {
  @include fortitude-tabs-navigation__item;
}

.#{$fortitude-namespace}tabs-navigation__item--is-active {
  @include fortitude-tabs-navigation__item--is-active;
}

.#{$fortitude-namespace}tabs-navigation__link {
  @include fortitude-tabs-navigation__link;
}
