/*doc
---
title: Tabs Navigation
name: tabs-navigation
category: Objects
---
The `tabs-navigation` object is used for horizontal tab navigations.
*/

$fortitude-enable-tabs-navigation: true;

.#{$fortitude-namespace}tabs-navigation {
  @include fortitude-tabs-navigation;
}

.#{$fortitude-namespace}tabs-navigation--fixed {
  @include fortitude-tabs-navigation--fixed;
}

.#{$fortitude-namespace}tabs-navigation__item {
  @include fortitude-tabs-navigation__item;
}

.#{$fortitude-namespace}tabs-navigation__item--is-active {
  @include fortitude-tabs-navigation__item--is-active;
}

.#{$fortitude-namespace}tabs-navigation__link {
  @include fortitude-tabs-navigation__link;
}
