/*doc
---
title: Tabs
name: tabs
category: Objects
---
The `tabs` object is used to encapsulate content in individual tabs.
*/

$fortitude-enable-tabs: true;

.#{$fortitude-namespace}tabs__content {
  @include fortitude-tabs__content;
}

.#{$fortitude-namespace}tabs__content--is-shown {
  @include fortitude-tabs__content--is-shown;
}
