/*doc
---
title: Tabs
name: tabs
category: Objects
---
The `tabs` object is used to encapsulate content in individual tabs.
*/

$fortitude-enable-tabs: true;

.#{$fortitude-namespace}tabs__target {
  @include fortitude-tabs__target;
}

.#{$fortitude-namespace}tabs__target--is-active {
  @include fortitude-tabs__target--is-active;
}
