/*doc
---
title: Tabs Navigation
name: tabs-navigation
category: Objects
---
The `tabs-navigation` object is used for horizontal tab navigations. See [the javascript component](/javascript.html#js-tabs) for info on how to combine `tabs` , `tabs__content` and `tabs-navigation` to show and hide tabs.

### Default
```html_preview_example
<ul class="tabs-navigation">
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link xs-pr1">One</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link xs-pr1">Two</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link xs-pr1">Three</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link xs-pr1">Four</a>
  </li>
</ul>
```

### Fixed
```html_preview_example
<ul class="tabs-navigation tabs-navigation--fixed">
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">One</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Two</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Three</a>
  </li>
  <li class="tabs-navigation__item">
    <a href="javascript: void(0);" class="tabs-navigation__link">Four</a>
  </li>
</ul>
```
*/

$fortitude-enable-tabs-navigation: true;

.#{$fortitude-namespace}tabs-navigation {
  @include fortitude-tabs-navigation;
}

.#{$fortitude-namespace}tabs-navigation--fixed {
  @include fortitude-tabs-navigation--fixed;
}

.#{$fortitude-namespace}tabs-navigation__item {
  @include fortitude-tabs-navigation__item;
}

.#{$fortitude-namespace}tabs-navigation__item--is-active {
  @include fortitude-tabs-navigation__item--is-active;
}

.#{$fortitude-namespace}tabs-navigation__link {
  @include fortitude-tabs-navigation__link;
}
