/*doc
---
title: Table
name: table
category: Objects
---
The `table` object is a set of simple extending classes that should be applied to table elements.

Class           | Description
--------------- | -----------------
table--full     | make table full width
table--fixed    | make all columns equal widths


<div class="note note--warning">
  <p class="styleguide">Make sure to use the <code class="styleguide">fortitude-table</code> mixin when using tables to vertically align them in the vertical rhythm grid</p>
</div>


```scss_example
.table--vertical-rhythm-example {
  $cell-height: 3rem;
  $border-width: 0.1rem;
  $border-style: "solid"; // this param is optional (default is solid)
  @include fortitude-table($cell-height, $border-width, $border-style);
}
```

Would output to:


```scss_example
.table--vertical-rhythm-example { border-style: solid; border-width: 0.1rem; }
.table--vertical-rhythm-example th,
.table--vertical-rhythm-example td { border-style: solid; border-width: 0.1rem; line-height: 2.1rem; padding: 0.4rem; }
.table--vertical-rhythm-example tbody tr:last-child td { line-height: 2rem; }
```

```html_example
<table class="table--vertical-rhythm-example table--full table--fixed">
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Column 1</td>
      <td>Column 2</td>
    </tr>
    <tr>
      <td>Column 1</td>
      <td>Column 2</td>
    </tr>
    <tr>
      <td>Column 1</td>
      <td>Column 2</td>
    </tr>
  </tbody>
</table>
```

*/

$fortitude-enable-table: true;

@if $fortitude-enable-table--full {
  /**
   * Force tables to be 100% width.
  **/
  .#{$fortitude-namespace}table--full {
    width: 100%;
  }
}

@if $fortitude-enable-table--fixed {
  /**
   * Force tables into having equal-width columns.
  **/
  .#{$fortitude-namespace}table--fixed {
    table-layout: fixed;
  }
}
