.#{$fortitude-namespace}wings {
  display: table;
  width: 100%;
}

.#{$fortitude-namespace}wings__target {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 0.1rem;
  padding: 0 fortitude-double($fortitude-base-spacing-unit);
}

.#{$fortitude-namespace}wings__wing {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  &::before {
    content: '';
    vertical-align: middle;
    position: absolute;
    height: 0.5rem;
    top: -0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

@if $fortitude-enable-wings--thin == true {
  .#{$fortitude-namespace}wings--thin {
    .#{$fortitude-namespace}wings__wing {
      &::before {
        height: 0.1rem;
      }
    }
  }
}
