/*doc
---
title: Wings
name: wings
category: Objects
---
The `wings` object is used to render text in between two horizontal lines.
*/

.#{$fortitude-namespace}wings {
  display: table;
  width: 100%;
}

.#{$fortitude-namespace}wings__text {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}

.#{$fortitude-namespace}wings__wing {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  &::before {
    content: '';
    vertical-align: middle;
    position: absolute;
    height: 0.1rem;
    top: -0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

@if $fortitude-enable-wings--thin {
  .#{$fortitude-namespace}wings--thin {
    .#{$fortitude-namespace}wings__wing {
      &::before {
        height: 0.1rem;
      }
    }
  }
}
