// used as getters, not setters.

$base-font-size:              $fortitude-base-font-size;
$class-breakpoints:           $fortitude-class-breakpoints;
$enable-vendor-optimizations: $fortitude-enable-vendor-optimizations;
$breakpoints:                 $fortitude-breakpoints;
$namespace:                   $fortitude-namespace;
$base-spacing-unit:           $fortitude-base-spacing-unit;
$base-spacing-unit--small:    $fortitude-base-spacing-unit--small;
$base-spacing-unit--large:    $fortitude-base-spacing-unit--large;
