$fortitude-enable-vendor-optimizations: true;
$fortitude-enable-badge:                true;
$fortitude-enable-badge--small:         true;
$fortitude-enable-badge--large:         true;
$fortitude-enable-badge--pill:          true;
$fortitude-enable-bare-list:            true;
$fortitude-enable-block-list:           true;
$fortitude-enable-block-list--small:    true;
$fortitude-enable-block-list--large:    true;
$fortitude-enable-box:                  true;
$fortitude-enable-box--rounded:         true;
$fortitude-enable-button:               true;
$fortitude-enable-button--small:        true;
$fortitude-enable-button--large:        true;
$fortitude-enable-button--full:         true;
$fortitude-enable-button--pill:         true;
$fortitude-enable-container:            true;
$fortitude-enable-container--fixed-top: true;
$fortitude-enable-popover:              true;
$fortitude-enable-flag:                 true;
$fortitude-enable-flag--top:            true;
$fortitude-enable-flag--bottom:         true;
$fortitude-enable-flag--flush:          true;
$fortitude-enable-flag--small:          true;
$fortitude-enable-flag--large:          true;
$fortitude-enable-flag--rev:            true;
$fortitude-enable-flag--responsive:     true;
$fortitude-enable-flashbar:             true;
$fortitude-enable-fluid-container:      true;
$fortitude-enable-inline-list:          true;
$fortitude-enable-input:                true;
$fortitude-enable-layout:               true;
$fortitude-enable-layout--small:        true;
$fortitude-enable-layout--large:        true;
$fortitude-enable-layout--flush:        true;
$fortitude-enable-layout--rev:          true;
$fortitude-enable-layout--middle:       true;
$fortitude-enable-layout--bottom:       true;
$fortitude-enable-layout--right:        true;
$fortitude-enable-layout--center:       true;
$fortitude-enable-list-navigation:      true;
$fortitude-enable-media:                true;
$fortitude-enable-media--small:         true;
$fortitude-enable-media--large:         true;
$fortitude-enable-media--rev:           true;
$fortitude-enable-media--flush:         true;
$fortitude-enable-media--responsive:    true;
$fortitude-enable-modal:                true;
$fortitude-enable-modal--bottom:        true;
$fortitude-enable-modal--top:           true;
$fortitude-enable-navigation:           true;
$fortitude-enable-shade:                true;
$fortitude-enable-table--full:          true;
$fortitude-enable-table--fixed:         true;
$fortitude-enable-tabs-navigation:      true;
$fortitude-enable-tabs:                 true;
$fortitude-enable-text:                 true;
$fortitude-enable-tooltip:              true;
$fortitude-enable-ui-list:              true;
$fortitude-enable-ui-list--small:       true;
$fortitude-enable-ui-list--large:       true;
$fortitude-enable-wings:                true;
$fortitude-enable-wings--thin:          true;
