/*------------------------------------*\
    #BLOCK-LIST
    \*------------------------------------*/

$fortitude-block-list-padding--default: $fortitude-base-spacing-unit !default;

$fortitude-block-list-padding--small: halve($fortitude-block-list-padding--default) !default;

$fortitude-block-list-padding--large: double($fortitude-block-list-padding--default) !default;

$fortitude-enable-block-list--small: false !default;
$fortitude-enable-block-list--large: false !default;

@mixin fortitude-block-list($extensions: ()) {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fortitude-block-list__item($extensions: ()) {
  $is-small: fortitude-contains($extensions, small);
  $is-large: fortitude-contains($extensions, large);

  @if $is-small {
    @include fortitude-block-list__item--small;
  } @else if $is-large {
    @include fortitude-block-list__item--large;
  } @else {
    padding: $fortitude-block-list-padding--default;
  }
}

@mixin fortitude-block-list__item--small {
  padding: $fortitude-block-list-padding--small;
}

@mixin fortitude-block-list__item--large {
  padding: $fortitude-block-list-padding--large;
}
