/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

$fortitude-container-breakpoints: (
  xs: 100%,
  sm: 72rem + $fortitude-base-spacing-unit,
  md: 94rem + $fortitude-base-spacing-unit,
  lg: 114rem + $fortitude-base-spacing-unit
) !default;

$fortitude-global-border-box: false !default;

@mixin fortitude-container($extensions: ()) {
  @include fortitude-clearfix;

  margin-right: auto;
  margin-left: auto;

  @each $fortitude-alias, $fortitude-breakpoint in $fortitude-breakpoints {
    $fortitude-query: fortitude-query($fortitude-breakpoint);

    @if not $fortitude-query {
      width: map-get($fortitude-container-breakpoints, $fortitude-alias);
    }
    @else {
      @media #{$fortitude-query} {
        width: map-get($fortitude-container-breakpoints, $fortitude-alias);
      }
    }
  }

  @if $fortitude-global-border-box == false {
    box-sizing: border-box;
  }
}

@mixin fortitude-container--fixed-top {
  z-index: 2;
  position: fixed;
  top: 0;
}
