/*------------------------------------*\
    #FLASHBAR
\*------------------------------------*/

/**
 * A simple flashbar object.
**/

@mixin fortitude-flashbar($extensions: ()) {
  @include fortitude-clearfix;
  position: relative;
}

@mixin fortitude-flashbar__close($extensions: ()) {
  position: absolute;
  right: halve($fortitude-base-spacing-unit);
}
