/*------------------------------------*\
    #INPUT
\*------------------------------------*/

$fortitude-field-input-background-color: white !default;
$fortitude-field-input-border-color: #a9a9a9 !default;
$fortitude-field-input-border-radius: 0.2rem !default;
$fortitude-field-input-border-style: solid !default;
$fortitude-field-input-border-width: 0.1rem !default;
$fortitude-field-input-height: double($fortitude-base-spacing-unit) !default;
$fortitude-field-input-placeholder-color: #a9a9a9 !default;

$fortitude-text-input-background-color: $fortitude-field-input-background-color !default;
$fortitude-text-input-border-color: $fortitude-field-input-border-color !default;
$fortitude-text-input-border-radius: $fortitude-field-input-border-radius !default;
$fortitude-text-input-border-style: $fortitude-field-input-border-style !default;
$fortitude-text-input-border-width: $fortitude-field-input-border-width !default;
$fortitude-text-input-height: $fortitude-field-input-height !default;
$fortitude-text-input-placeholder-color: $fortitude-field-input-placeholder-color !default;

$fortitude-textarea-input-background-color: $fortitude-field-input-background-color !default;
$fortitude-textarea-input-border-color: $fortitude-field-input-border-color !default;
$fortitude-textarea-input-border-radius: $fortitude-field-input-border-radius !default;
$fortitude-textarea-input-border-style: $fortitude-field-input-border-style !default;
$fortitude-textarea-input-border-width: $fortitude-field-input-border-width !default;
$fortitude-textarea-input-height: $fortitude-field-input-height !default;
$fortitude-textarea-input-placeholder-color: $fortitude-field-input-placeholder-color !default;

$fortitude-select-input-background-color: $fortitude-field-input-background-color !default;
$fortitude-select-input-border-color: $fortitude-field-input-border-color !default;
$fortitude-select-input-border-radius: $fortitude-field-input-border-radius !default;
$fortitude-select-input-border-style: $fortitude-field-input-border-style !default;
$fortitude-select-input-border-width: $fortitude-field-input-border-width !default;
$fortitude-select-input-height: $fortitude-field-input-height !default;
$fortitude-select-input-placeholder-color: $fortitude-field-input-placeholder-color !default;

$fortitude-color-input-background-color: $fortitude-field-input-background-color !default;
$fortitude-color-input-border-color: $fortitude-field-input-border-color !default;
$fortitude-color-input-border-radius: $fortitude-field-input-border-radius !default;
$fortitude-color-input-border-style: $fortitude-field-input-border-style !default;
$fortitude-color-input-border-width: $fortitude-field-input-border-width !default;
$fortitude-color-input-height: $fortitude-field-input-height !default;
$fortitude-color-input-placeholder-color: $fortitude-field-input-placeholder-color !default;

$fortitude-range-input-background-color: false !default;
$fortitude-range-input-border-color: $fortitude-field-input-border-color !default;
$fortitude-range-input-border-radius: $fortitude-field-input-border-radius !default;
$fortitude-range-input-border-style: $fortitude-field-input-border-style !default;
$fortitude-range-input-border-width: 0 !default;
$fortitude-range-input-height: $fortitude-field-input-height !default;

$fortitude-switch-input-background-color: false !default;
$fortitude-switch-input-border-color: #a9a9a9 !default;
$fortitude-switch-input-border-radius: 0.2rem !default;
$fortitude-switch-input-border-style: solid !default;
$fortitude-switch-input-border-width: 0.1rem !default;
$fortitude-switch-input-size: $fortitude-base-spacing-unit - 0.4rem !default;

$fortitude-checkbox-input-background-color: $fortitude-switch-input-background-color !default;
$fortitude-checkbox-input-border-color: $fortitude-switch-input-border-color !default;
$fortitude-checkbox-input-border-radius: $fortitude-switch-input-border-radius !default;
$fortitude-checkbox-input-border-style: $fortitude-switch-input-border-style !default;
$fortitude-checkbox-input-border-width: $fortitude-switch-input-border-width !default;
$fortitude-checkbox-input-size: $fortitude-switch-input-size !default;

$fortitude-radio-input-background-color: $fortitude-switch-input-background-color !default;
$fortitude-radio-input-border-color: $fortitude-switch-input-border-color !default;
$fortitude-radio-input-border-radius: 10rem !default;
$fortitude-radio-input-border-style: $fortitude-switch-input-border-style !default;
$fortitude-radio-input-border-width: $fortitude-switch-input-border-width !default;
$fortitude-radio-input-size: $fortitude-switch-input-size !default;

$fortitude-enable-input--full: false !default;
$fortitude-enable-input--pill: false !default;

$fortitude-global-border-box: false !default;

@mixin fortitude-input($extensions: ()) {
  @include fortitude-font-size($fortitude-base-font-size);

  display: inline-block;
  position: relative;
  vertical-align: middle;
  font: inherit;
  overflow: visible;
  max-width: 100%;

  @if $fortitude-global-border-box == false {
    box-sizing: border-box;
  }
}

@mixin fortitude-text-input($extensions: ()) {
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  height: $fortitude-text-input-height;
  margin: fortitude-block-margin($fortitude-text-input-height, $fortitude-text-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-text-input-height, $fortitude-text-input-border-width, $fortitude-base-line-height);

  @if $fortitude-text-input-border-width != 0 {
    border: $fortitude-text-input-border-width $fortitude-text-input-border-style $fortitude-text-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-text-input-border-radius != 0 {
    border-radius: $fortitude-text-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-text-input-background-color {
    background-color: $fortitude-text-input-background-color;
  }

  @if $is-full {
    @include fortitude-input--full;
  }

  &::placeholder {
    color: $fortitude-text-input-placeholder-color;
  }
}

@mixin fortitude-textarea-input($extensions: ()) {
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  min-height: $fortitude-textarea-input-height;
  margin: fortitude-block-margin($fortitude-textarea-input-height, $fortitude-textarea-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-textarea-input-height, $fortitude-textarea-input-border-width, $fortitude-base-line-height);

  @if $fortitude-textarea-input-border-width != 0 {
    border: $fortitude-textarea-input-border-width $fortitude-textarea-input-border-style $fortitude-textarea-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-textarea-input-border-radius != 0 {
    border-radius: $fortitude-textarea-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-textarea-input-background-color {
    background-color: $fortitude-textarea-input-background-color;
  }

  @if $is-full {
    @include fortitude-input--full;
  }

  &::placeholder {
    color: $fortitude-textarea-input-placeholder-color;
  }
}

@mixin fortitude-select-input($extensions: ()) {
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  height: $fortitude-select-input-height;
  margin: fortitude-block-margin($fortitude-select-input-height, $fortitude-select-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-select-input-height, $fortitude-select-input-border-width, $fortitude-base-line-height);

  @if $fortitude-select-input-border-width != 0 {
    border: $fortitude-select-input-border-width $fortitude-select-input-border-style $fortitude-select-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-select-input-border-radius != 0 {
    border-radius: $fortitude-select-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-select-input-background-color {
    background-color: $fortitude-select-input-background-color;
  }

  @if $is-full {
    @include fortitude-input--full;
  }

  &.placeholder {
    color: $fortitude-select-input-placeholder-color;
  }

  &[multiple] {
    height: auto;
  }
}

@mixin fortitude-checkbox-input($extensions: ()) {
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  width: $fortitude-checkbox-input-size;
  height: $fortitude-checkbox-input-size;
  margin: fortitude-block-margin($fortitude-checkbox-input-size + 0.2rem, $fortitude-checkbox-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-checkbox-input-size, $fortitude-checkbox-input-border-width, $fortitude-base-line-height);

  @if $fortitude-checkbox-input-border-width != 0 {
    border: $fortitude-checkbox-input-border-width $fortitude-checkbox-input-border-style $fortitude-checkbox-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-checkbox-input-border-radius != 0 {
    border-radius: $fortitude-checkbox-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-checkbox-input-background-color {
    background-color: $fortitude-checkbox-input-background-color;
  }
}

@mixin fortitude-radio-input($extensions: ()) {
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  width: $fortitude-radio-input-size;
  height: $fortitude-radio-input-size;
  margin: fortitude-block-margin($fortitude-radio-input-size + 0.4rem, $fortitude-radio-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-radio-input-size, $fortitude-radio-input-border-width, $fortitude-base-line-height);

  @if $fortitude-radio-input-border-width != 0 {
    border: $fortitude-radio-input-border-width $fortitude-radio-input-border-style $fortitude-radio-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-radio-input-border-radius != 0 {
    border-radius: $fortitude-radio-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-radio-input-background-color {
    background-color: $fortitude-radio-input-background-color;
  }
}

@mixin fortitude-range-input($extensions: ()) {
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  height: $fortitude-range-input-height;
  margin: fortitude-block-margin($fortitude-range-input-height, $fortitude-range-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-range-input-height, $fortitude-range-input-border-width, $fortitude-base-line-height) 0;

  @if $fortitude-range-input-border-width != 0 {
    border: $fortitude-range-input-border-width $fortitude-range-input-border-style $fortitude-range-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-range-input-border-radius != 0 {
    border-radius: $fortitude-range-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-range-input-background-color {
    background-color: $fortitude-range-input-background-color;
  }

  @if $is-full {
    @include fortitude-input--full;
  }
}

@mixin fortitude-color-input($extensions: ()) {
  $is-full: fortitude-contains($extensions, full);
  $is-pill: fortitude-contains($extensions, pill);

  @include fortitude-input($extensions);

  height: $fortitude-color-input-height;
  margin: fortitude-block-margin($fortitude-color-input-height, $fortitude-color-input-border-width, $fortitude-base-line-height) 0;
  padding: fortitude-block-padding($fortitude-color-input-height, $fortitude-color-input-border-width, $fortitude-base-line-height);

  @if $fortitude-color-input-border-width != 0 {
    border: $fortitude-color-input-border-width $fortitude-color-input-border-style $fortitude-color-input-border-color;
  } @else {
    border: 0;
  }

  @if $is-pill {
    @include fortitude-input--pill;
  } @else if $fortitude-color-input-border-radius != 0 {
    border-radius: $fortitude-color-input-border-radius;
  } @else {
    border-radius: 0;
  }

  @if $fortitude-color-input-background-color {
    background-color: $fortitude-color-input-background-color;
  }

  @if $is-full {
    @include fortitude-input--full;
  }

  &::placeholder {
    color: $fortitude-color-input-placeholder-color;
  }
}

@mixin fortitude-input--full {
  width: 100%;
}

@mixin fortitude-input--pill {
  border-radius: 100rem;
}


@mixin fortitude-input__target {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}