/*------------------------------------*\
    #SHADE
\*------------------------------------*/

@mixin fortitude-shade($extensions: ()) {
  $active: map-get($extensions, 'active');
  
  @if($active){
    display: block;
  } @else {
    display: none;
  }
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
