/*------------------------------------*\
    #TABS NAVIGATION
\*------------------------------------*/

@mixin fortitude-tabs-navigation($extensions: ()) {
  $is-fixed: fortitude-contains($extensions, fixed);

  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;

  @if $is-fixed {
    @include fortitude-tabs-navigation--fixed;
  }
}

@mixin fortitude-tabs-navigation--fixed {
  table-layout: fixed;
  width: 100%;
}

@mixin fortitude-tabs-navigation__item($extensions: ()) {
  display: table-cell;
}

@mixin fortitude-tabs-navigation__link($extensions: ()) {
  display: block;
}
