/*------------------------------------*\
    #UI-LIST
\*------------------------------------*/

$fortitude-ui-list-padding--default: $fortitude-base-spacing-unit !default;
$fortitude-ui-list-padding--small: halve($fortitude-ui-list-padding--default) !default;
$fortitude-ui-list-padding--large: double($fortitude-ui-list-padding--default) !default;
$fortitude-ui-list-border-width: 0.1rem !default;
$fortitude-ui-list-border-style: solid !default;
$fortitude-ui-list-border-color: #ccc !default;

$fortitude-enable-ui-list--small: false !default;
$fortitude-enable-ui-list--large: false !default;

@mixin fortitude-ui-list($extensions: ()) {
  border: 0 $fortitude-ui-list-border-style $fortitude-ui-list-border-color;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top-width: $fortitude-ui-list-border-width;
}

@mixin fortitude-ui-list__item($extensions: ()) {
  $is-small: fortitude-contains($extensions, small);
  $is-large: fortitude-contains($extensions, large);

  border: 0 $fortitude-ui-list-border-style $fortitude-ui-list-border-color;
  border-bottom-width: $fortitude-ui-list-border-width;

  @if $is-small {
    @include fortitude-ui-list__item--small;
  } @else if $is-large {
    @include fortitude-ui-list__item--small;
  } @else {
    padding: $fortitude-ui-list-padding--default;
  }
}

@mixin fortitude-ui-list__item--small {
  padding: $fortitude-ui-list-padding--small;
}

@mixin fortitude-ui-list__item--large {
  padding: $fortitude-ui-list-padding--large;
}
