<div class="layout layout--example">
	<div class="layout__item xs-4of12">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla consequuntur veniam velit, nam quidem tenetur nostrum, quam, labore sequi iste voluptates repudiandae voluptate nemo fugit quo atque. Cum, minima aperiam!
	</div><div class="layout__item xs-4of12">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur facere, repellat illo accusantium unde aperiam iusto impedit ut placeat odio, iure facilis tempora, nostrum ex quae tenetur voluptatibus asperiores excepturi?
	</div><div class="layout__item xs-4of12">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis maxime in, dicta sequi placeat labore quasi recusandae consequuntur doloribus animi incidunt dolorem, enim, ducimus atque perferendis sunt ratione, laudantium omnis.
	</div>
</div>