<ul class="tabs-navigation tabs-navigation--example xs-mb1">
    <li class="tabs-navigation__item">
        <a href="#" class="tabs-navigation__link">Item 1</a>
    </li>
    <li class="tabs-navigation__item">
        <a href="#" class="tabs-navigation__link">Item 2</a>
    </li>
    <li class="tabs-navigation__item">
        <a href="#" class="tabs-navigation__link">Item 3</a>
    </li>
</ul>

<ul class="tabs-navigation tabs-navigation--fixed tabs-navigation--example">
    <li class="tabs-navigation__item">
        <a href="#" class="tabs-navigation__link">Item 1</a>
    </li>
    <li class="tabs-navigation__item">
        <a href="#" class="tabs-navigation__link">Item 2</a>
    </li>
    <li class="tabs-navigation__item">
        <a href="#" class="tabs-navigation__link">Item 3</a>
    </li>
</ul>